<app-pantry-door-form
  #pantryDoorForm
  appRemoveTag
  *ngIf="isSelected"
  [pantryDoor]="pantryDoor"
  [pantryDoorChairRailTypes]="pantryDoorChairRailTypes"
  [wrappingOptions]="wrappingOptions"
  (formSubmit)="onEdit($event)"
></app-pantry-door-form>

<tr
  class="duraform-order-step-two__cart-list-item"
  [ngClass]="{ animated: !hasAnimated }"
  [hidden]="isSelected"
  (click)="onSelect()"
>
  <td>{{ pantryDoor.quantity }}</td>
  <td>{{ pantryDoor.height }}</td>
  <td>{{ pantryDoor.width }}</td>
  <td>{{ pantryDoor.chairRailHeight }}</td>
  <td>{{ pantryDoor.chairRailType.name | uppercase }}</td>
  <td>{{ pantryDoor.extraRailBottom }}</td>
  <td class="text-left" style="padding-left: 1rem; padding-right: 1rem;">
    {{
      pantryDoor.duraformWrappingOption
        ? pantryDoor.duraformWrappingOption.name
        : "SINGLE SIDED"
    }}
  </td>
  <td>{{ pantryDoor.top ? "Y" : "" }}</td>
  <td>{{ pantryDoor.bottom ? "Y" : "" }}</td>
  <td>{{ pantryDoor.left ? "Y" : "" }}</td>
  <td>{{ pantryDoor.right ? "Y" : "" }}</td>
  <td class="text-left" style="padding-left: 1rem; padding-right: 1rem;">
    {{ pantryDoor.note }}
  </td>
  <td style="width: 5rem;">
    <button
      type="button"
      class="btn btn--secondary"
      style="padding: 0.5rem 1rem;"
      (click)="onRemove()"
    >
      <i class="fa fa-trash"></i>
    </button>
  </td>
</tr>
