<app-pantry-door-form
  #componentForm
  appRemoveTag
  *ngIf="isSelected"
  [component]="component"
  (formSubmit)="onEdit($event)"
></app-pantry-door-form>
<tbody
  class="duraform-order-step-two__cart-list-item"
  [ngClass]="{ animated: !hasAnimated }"
  [hidden]="isSelected"
  (click)="onSelect()"
>
  <tr>
    <td class="line-number">{{ index }}</td>
    <td>{{ component.quantity }}</td>
    <td>{{ component.height }}</td>
    <td>{{ component.width }}</td>
    <td>{{ component.chairRailHeight }}</td>
    <td>
      {{ asset.getChairRailType(component.chairRailTypeId).name | uppercase }}
    </td>
    <td>{{ component.extraRailBottom }}</td>
    <td class="text-left" style="padding-left: 1rem; padding-right: 1rem">
      {{
        asset.getEdgeProfile(component.duraformEdgeProfileId).name | uppercase
      }}
    </td>
    <td>{{ component.top ? "X" : "" }}</td>
    <td>{{ component.bottom ? "X" : "" }}</td>
    <td>{{ component.left ? "X" : "" }}</td>
    <td>{{ component.right ? "X" : "" }}</td>
    <td class="text-left" style="padding-left: 1rem; padding-right: 1rem">
      {{ component.duraformOption?.toString() }}
    </td>
    <td>
      {{ component.hingeHoleOption?.toString() }}
    </td>
    <td class="text-left" style="padding-left: 1rem; padding-right: 1rem">
      {{ component.note }}
    </td>
    <td style="width: 12rem">
      {{ component.unitPrice | currency }}
    </td>
    <td style="width: 12rem">
      {{ component.subTotal | currency }}
    </td>
    <td style="width: 5rem">
      <button
        type="button"
        class="btn btn--secondary"
        style="padding: 0.5rem 1rem"
        (click)="onRemove()"
      >
        <i class="fa fa-trash"></i>
      </button>
    </td>
  </tr>
</tbody>
