<app-duraform-misc-form
  #miscForm
  appRemoveTag
  *ngIf="isSelected"
  [misc]="misc"
  (formSubmit)="onEdit($event)"
></app-duraform-misc-form>
<tbody
  class="duraform-order-step-two__cart-list-item"
  [ngClass]="{ animated: !hasAnimated }"
  [hidden]="isSelected"
  (click)="onSelect()"
>
  <tr>
    <td class="line-number">
      {{ index }}
    </td>
    <td>
      {{ misc.quantity }}
    </td>
    <td class="text-left" style="padding-left: 1rem; padding-right: 1rem">
      {{ asset.getMiscItem(misc.miscItemId)?.name }}
    </td>
    <td class="text-left" style="padding-left: 1rem; padding-right: 1rem">
      {{ misc.note }}
    </td>
    <td style="width: 5rem">
      <button
        type="button"
        class="btn btn--secondary"
        style="padding: 0.5rem 1rem"
        (click)="onRemove()"
      >
        <i class="fa fa-trash"></i>
      </button>
    </td>
  </tr>
</tbody>
