<div class="info-box">
  <div class="row">
    <div class="col-1-3 middle">
      <div>
        <div class="info-box__door-name" style="padding-top: 3px">
          {{ duraformEnquiry.duraformDesign.name }}
        </div>
        <div class="info-box__profile-name">
          {{ duraformEnquiry.duraformEdgeProfile.name }}
        </div>
      </div>
    </div>
    <div class="col-1-3 middle">
      <div>
        <div class="info-box__route-only" *ngIf="duraformEnquiry.isRoutingOnly">
          ROUTE ONLY
        </div>
        <div class="info-box__wrapping" *ngIf="!duraformEnquiry.isRoutingOnly">
          <div class="wrap-type">
            {{ duraformEnquiry.duraformWrapType.name }}
          </div>
          <div class="wrap-color">
            {{ duraformEnquiry.duraformWrapColor.name }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-1-3 middle">
      <div>
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
