<div class="info-box">
  <div class="duraform-design">
    <div class="duraform-design__img-box">
      <div class="img-loader" *ngIf="isLoadingImg">
        <i class="fa fa-spinner fa-spin"></i>
      </div>
      <img
        [hidden]="isLoadingImg"
        src="../../../assets/images/Duraform/Doors/S{{
          order.formData.selectedSerie.id
        }}/{{ order.formData.selectedDesign.imageUrl }}"
        alt="Duraform Door - {{ order.formData.selectedDesign.name }}"
        (load)="this.isLoadingImg = false"
      />
    </div>
    <div class="duraform-design__control-box">
      <div
        class="duraform-design__control-box__door-name"
        style="padding-top: 3px;"
      >
        {{ order.formData.selectedDesign.name }}
      </div>
      <div class="duraform-design__control-box__profile-name">
        {{ order.formData.selectedEdgeProfile.name }}
      </div>
      <div
        class="duraform-design__control-box__route-only"
        *ngIf="order.formData.isRoutingOnly"
      >
        ROUTE ONLY
      </div>
      <div
        class="duraform-design__control-box__wrapping"
        *ngIf="!order.formData.isRoutingOnly"
      >
        <div class="wrap-type">
          {{ order.formData.selectedWrapType.name }}
        </div>
        <div class="wrap-color">
          {{ order.formData.selectedWrapColor.name }}
        </div>
      </div>
    </div>
  </div>
</div>
