<div class="info-box">
  <div class="row">
    <div class="col-1-3 middle">
      <div>
        <div class="info-box__door-name" style="padding-top: 3px">
          {{ order.selectedDesign.name }}
        </div>
        <div class="info-box__profile-name">
          {{ order.selectedEdgeProfile.name }}
        </div>
      </div>
    </div>
    <div class="col-1-3 middle">
      <div>
        <div class="info-box__route-only" *ngIf="order.isRoutingOnly">
          ROUTE ONLY
        </div>
        <div class="info-box__wrapping" *ngIf="!order.isRoutingOnly">
          <div class="wrap-type">
            {{ order.selectedWrapType.name }}
          </div>
          <div class="wrap-color">
            {{ order.selectedWrapColor.name }}
          </div>
        </div>
      </div>
    </div>
    <div class="col-1-3 middle">
      <div>
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
