<tbody
  class="form__order-form-group"
  appOrderForm
  [formGroup]="formGroup"
  (submit)="onSubmit()"
>
  <tr>
    <td style="color: #ec092b">
      <i class="fa fa-hand-o-right" aria-hidden="true"></i>
    </td>
    <app-duraform-door-basic-input
      appRemoveTag
      [formGroup]="formGroup"
      (heightKeyUp)="onHeightChange()"
    ></app-duraform-door-basic-input>
    <td>
      <app-select-menu
        [control]="formGroup.get('numberOfDrawers')"
        [values]="numberDrawers"
        [valueKey]="'id'"
        [valueDisplay]="'value'"
        [isDisabled]="formGroup.get('height').invalid"
        (afterSet)="onNumberOfDrawersChanged()"
      ></app-select-menu>
    </td>
    <td>
      <app-select-menu
        [control]="formGroup.get('duraformDrawerTypeId')"
        [values]="asset.duraformDrawerTypes"
        [valueKey]="'id'"
        [valueDisplay]="'name'"
        [isDisabled]="formGroup.get('numberOfDrawers').invalid"
      ></app-select-menu>
    </td>
    <app-edge-profile-form-control
      appRemoveTag
      [formGroup]="formGroup"
      [componentType]="componentType"
    ></app-edge-profile-form-control>
    <td>
      <label class="form__checkbox">
        <input type="checkbox" formControlName="hasDrillFronts" />
        <span></span>
      </label>
    </td>
    <td>
      <input
        *ngIf="formGroup.get('numberOfDrawers').valid"
        class="form__control"
        currencyMask
        appSelectOnFocus
        formControlName="drawerOne"
        [options]="{
          align: 'center',
          allowZero: false,
          precision: '0',
          decimal: '',
          prefix: '',
          thousands: '',
          max: '2500'
        }"
      />
    </td>
    <td>
      <input
        *ngIf="formGroup.get('numberOfDrawers').value >= 2"
        class="form__control"
        currencyMask
        appSelectOnFocus
        formControlName="drawerTwo"
        [options]="{
          align: 'center',
          allowZero: false,
          precision: '0',
          decimal: '',
          prefix: '',
          thousands: '',
          max: '2500'
        }"
      />
    </td>
    <td>
      <input
        *ngIf="formGroup.get('numberOfDrawers').value >= 3"
        class="form__control"
        currencyMask
        appSelectOnFocus
        formControlName="drawerThree"
        [options]="{
          align: 'center',
          allowZero: false,
          precision: '0',
          decimal: '',
          prefix: '',
          thousands: '',
          max: '2500'
        }"
      />
    </td>
    <td>
      <input
        *ngIf="formGroup.get('numberOfDrawers').value >= 4"
        class="form__control"
        currencyMask
        appSelectOnFocus
        formControlName="drawerFour"
        [options]="{
          align: 'center',
          allowZero: false,
          precision: '0',
          decimal: '',
          prefix: '',
          thousands: '',
          max: '2500'
        }"
      />
    </td>
    <td>
      <input
        *ngIf="formGroup.get('numberOfDrawers').value >= 5"
        class="form__control"
        currencyMask
        appSelectOnFocus
        formControlName="drawerFive"
        [options]="{
          align: 'center',
          allowZero: false,
          precision: '0',
          decimal: '',
          prefix: '',
          thousands: '',
          max: '2500'
        }"
      />
    </td>
    <td>
      <input
        type="text"
        class="form__control"
        style="text-align: left; width: 99%"
        appSelectOnFocus
        formControlName="note"
      />
    </td>
    <td style="width: 5rem">
      <button
        [disabled]="formGroup.invalid"
        type="button"
        class="btn btn--primary"
        style="padding: 0.5rem 1rem"
        (click)="onSubmit()"
      >
        <i class="fa fa-save"></i>
      </button>
    </td>
  </tr>
</tbody>
