<app-float-box [isFit]="true">
  <div class="vcd">
    <div class="vcd__heading">{{ headingText }}</div>
    <div class="vcd__body">
      <p class="body-paragraph">
        {{ bodyText }}
      </p>
      <form [formGroup]="formGroup">
        <div class="form__input-btn">
          <input
            type="text"
            class="form__control"
            style="background-color: rgba(255, 255, 0, 0.2); font-weight: bold"
            [placeholder]="placeHolder"
            formControlName="value"
          />
          <button
            type="button"
            [disabled]="formGroup.invalid"
            class="btn btn--secondary"
            (click)="onConfirm()"
          >
            Confirm!
          </button>
        </div>
      </form>
    </div>
    <div class="vcd__footer">
      <button class="btn btn--default" (click)="cancel.emit()">
        Not Ready! Go Back
      </button>
    </div>
  </div>
</app-float-box>
