<div class="rs-pdf" *ngIf="runSheet">
  <div class="rs-pdf__header">
    <div class="row">
      <div class="col-1-2">
        <h1 class="janper-name">Janper Pty Ltd</h1>
        <h3 class="janper-info">19 Newcastle Road, Bayswater Vic 3153</h3>
        <h3 class="janper-info">ABN 45 004 772 034 - Tel: 03 9720 0533</h3>
      </div>
      <div class="col-1-2 right">
        <div>
          <div class="barcode-box">
            <ngx-barcode
              [bc-value]="barcode"
              [bc-height]="'50px'"
            ></ngx-barcode>
          </div>
          <div class="run-sheet-number">RUN SHEET - {{ barcode }}</div>
          <div class="run-sheet-date">
            DATE: {{ runSheet.createdDate | date: "dd/MM/yyyy hh:mm" }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rs-pdf__sub-header">
    TOTAL ORDERS: {{ runSheet.enquiriesForRunSheet.length }}
  </div>
  <div class="rs-pdf__body">
    <div class="patch" *ngFor="let patch of runSheet.getPatchDetails()">
      <div class="patch__cabinet-maker">{{ patch.cabinetMakerName }}</div>
      <div class="patch__address">{{ patch.fullAddress }}</div>
      <div class="patch__detail-table">
        <table>
          <thead>
            <tr>
              <th class="col__enquiry-id">Job No.</th>
              <th class="col__customer-ref">Order No.</th>
              <th class="col__door-type">Door Type</th>
              <th class="col__door-colour">Door Colour</th>
              <th class="col__signature">Signature</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let enquiry of patch.enquiriesForRunSheet">
              <td>{{ enquiry.enquiryId | leading }}</td>
              <td>{{ enquiry.customerReference }}</td>
              <td>{{ enquiry.doorType }}</td>
              <td>{{ enquiry.doorColor }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
