<table class="table table--bordered">
  <thead>
    <tr>
      <th rowspan="2" style="width: 3rem">#</th>
      <th rowspan="2" style="width: 5rem">Qty.</th>
      <th rowspan="2" style="width: 9rem">
        Height <br />
        (mm)
      </th>
      <th rowspan="2" style="width: 9rem">
        Width <br />
        (mm)
      </th>
      <th rowspan="2" style="width: 9rem">
        No. <br />
        Drawers
      </th>
      <th rowspan="2" style="width: 25rem">Drawer Type</th>
      <th rowspan="2" style="width: 20rem">Edge Profile</th>
      <th colspan="4">'X' For Square Edge</th>
      <th rowspan="2" style="width: 7rem">
        Drill <br />
        Fronts
      </th>
      <th rowspan="2" style="width: 7rem">Gap</th>
      <th colspan="5">Drawer Size</th>
      <th rowspan="2">Note</th>
      <th rowspan="2">Unit Price</th>
      <th rowspan="2" colspan="2">Price</th>
    </tr>
    <tr>
      <th style="width: 4rem">T</th>
      <th style="width: 4rem">B</th>
      <th style="width: 4rem">L</th>
      <th style="width: 4rem">R</th>
      <th style="width: 7rem">1</th>
      <th style="width: 7rem">2</th>
      <th style="width: 7rem">3</th>
      <th style="width: 7rem">4</th>
      <th style="width: 7rem">5</th>
    </tr>
  </thead>
  <app-duraform-drawer-form
    appRemoveTag
    (formSubmit)="onAddComponent($event)"
  ></app-duraform-drawer-form>
  <tbody
    class="table__spacer"
    *ngIf="order.duraformEnquiry.duraformDrawers.length > 0"
  >
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tbody>
  <app-duraform-drawer-cart-item
    appRemoveTag
    *ngFor="
      let drawer of duraformEnquiry.duraformDrawers.slice().reverse();
      let i = index
    "
    [component]="drawer"
    [canSelect]="canSelectCartItem"
    [index]="duraformEnquiry.duraformDrawers.length - i"
    (selectComponent)="canSelectCartItem = false"
    (unselectComponent)="canSelectCartItem = true"
    (removeComponent)="onRemoveComponent($event)"
  ></app-duraform-drawer-cart-item>
</table>
