<tbody
  class="form__order-form-group"
  appOrderForm
  [formGroup]="formGroup"
  (submit)="onSubmit()"
>
  <tr>
    <td style="color: #ec092b">
      <i class="fa fa-hand-o-right" aria-hidden="true"></i>
    </td>
    <app-duraform-door-basic-input
      appRemoveTag
      [formGroup]="formGroup"
    ></app-duraform-door-basic-input>
    <td>
      <input
        class="form__control"
        currencyMask
        appSelectOnFocus
        formControlName="numberOfShields"
        (blur)="numberOfShields.invalid && numberOfShields.setValue(2)"
        [options]="{
          align: 'center',
          allowZero: false,
          precision: '0',
          decimal: '',
          prefix: '',
          thousands: '',
          min: 1,
          max: 5
        }"
      />
    </td>
    <td>
      <input
        class="form__control"
        currencyMask
        appSelectOnFocus
        formControlName="railLeft"
        (blur)="railLeft.invalid && railLeft.setValue(56)"
        [options]="{
          align: 'center',
          allowZero: false,
          precision: '0',
          decimal: '',
          prefix: '',
          thousands: '',
          max: 100
        }"
      />
    </td>
    <td>
      <input
        class="form__control"
        currencyMask
        appSelectOnFocus
        formControlName="railCenter"
        (blur)="railCenter.invalid && railCenter.setValue(56)"
        [options]="{
          align: 'center',
          allowZero: false,
          precision: '0',
          decimal: '',
          prefix: '',
          thousands: '',
          max: 100
        }"
      />
    </td>
    <td>
      <input
        class="form__control"
        currencyMask
        appSelectOnFocus
        formControlName="railRight"
        (blur)="railRight.invalid && railRight.setValue(56)"
        [options]="{
          align: 'center',
          allowZero: false,
          precision: '0',
          decimal: '',
          prefix: '',
          thousands: '',
          max: 100
        }"
      />
    </td>
    <td>
      <input
        class="form__control"
        currencyMask
        appSelectOnFocus
        formControlName="extraRailTop"
        [options]="{
          align: 'center',
          allowZero: false,
          precision: '0',
          decimal: '',
          prefix: '',
          thousands: '',
          max: 500
        }"
      />
    </td>
    <td>
      <input
        class="form__control"
        currencyMask
        appSelectOnFocus
        formControlName="extraRailBottom"
        [options]="{
          align: 'center',
          allowZero: false,
          precision: '0',
          decimal: '',
          prefix: '',
          thousands: '',
          max: 500
        }"
      />
    </td>
    <app-edge-profile-form-control
      appRemoveTag
      [formGroup]="formGroup"
      [hideEdgeProfile]="true"
    ></app-edge-profile-form-control>
    <td>
      <app-duraform-option-selector
        [formGroup]="formGroup"
        [hideOptionTypeKeys]="[
          duraformOptionTypeKey.NoFaceRoute,
          duraformOptionTypeKey.PaneFrame,
          duraformOptionTypeKey.MicrowaveFrame,
          duraformOptionTypeKey.RollerShutter
        ]"
      ></app-duraform-option-selector>
    </td>
    <td>
      <input
        type="text"
        class="form__control"
        style="text-align: left; width: 99%"
        appSelectOnFocus
        formControlName="note"
      />
    </td>
    <td style="width: 5rem">
      <button
        [disabled]="formGroup.invalid"
        type="button"
        class="btn btn--primary"
        style="padding: 0.5rem 1rem"
        (click)="onSubmit()"
      >
        <i class="fa fa-save"></i>
      </button>
    </td>
  </tr>
</tbody>
