<div class="duraform-process">
  <ul>
    <li
      class="step active"
      [class]="{ current: currentDisplayStep === 1 }"
      (click)="onStepOneClick()"
    >
      1
    </li>
    <li
      class="step"
      [class]="{
        active: order.selectedDesign,
        current: currentDisplayStep === 2
      }"
      (click)="onStepTwoClick()"
    >
      2
    </li>
    <li
      class="step"
      [ngClass]="{
        active: currentDisplayStep === 3,
        current: currentDisplayStep === 3
      }"
    >
      3
    </li>
    <li class="step">
      4
    </li>
  </ul>
</div>
