<ul class="duraform-process">
  <li class="step active" (click)="onStepOneClick()">
    <div class="step__number">1</div>
    <div class="step__text">
      Selec Door Design
    </div>
  </li>
  <li
    class="step"
    [class]="{ active: order.selectedDesign }"
    (click)="onStepTwoClick()"
  >
    <div class="step__number">2</div>
    <div class="step__text">
      Add Components
    </div>
  </li>
  <li class="step">
    <div class="step__number">3</div>
    <div class="step__text">
      Review Order
    </div>
  </li>
  <li class="step">
    <div class="step__number">4</div>
    <div class="step__text">
      Order Received
    </div>
  </li>
</ul>
