<div class="duraform-order-step-one">
  <app-duraform-design-list
    *ngIf="asset.duraformDesigns.length > 0"
    (selectDesign)="onSelectDesign($event)"
  ></app-duraform-design-list>
  <app-edge-profile-menu
    *ngIf="showEdgeProfileMenu"
    [selectedDuraformDesign]="selectedDuraformDesign"
    (selectProfile)="
      selectedEdgeProfile = $event;
      showEdgeProfileMenu = false;
      showColorSelector = true
    "
    (closeMenu)="showEdgeProfileMenu = false"
  ></app-edge-profile-menu>
  <app-duraform-color-selector
    *ngIf="showColorSelector"
    [design]="selectedDuraformDesign"
    [selectedEdgeProfile]="selectedEdgeProfile"
    (cancel)="onCancelColorSelection()"
    (colorPick)="onPickColor($event)"
    (routingPick)="onRoutingPick()"
  ></app-duraform-color-selector>
</div>
