<div class="duraform-page" *ngIf="!isLoadingAsset">
  <app-duraform-process
    appRemoveTag
    [currentDisplayStep]="displayedStep"
    (processClick)="onProcessClick($event)"
  ></app-duraform-process>
  <app-duraform-order-step-one
    *ngIf="displayedStep === duraformProcessStep.StepOne"
    (finish)="onStepOneFinish($event)"
  ></app-duraform-order-step-one>
  <app-duraform-order-step-two
    *ngIf="displayedStep === duraformProcessStep.StepTwo"
    (goBack)="onStepTwoGoBack()"
    (finish)="onStepTwoFinish()"
  ></app-duraform-order-step-two>
  <app-duraform-order-step-three
    *ngIf="displayedStep === duraformProcessStep.StepThree"
    (processClick)="onProcessClick($event)"
  ></app-duraform-order-step-three>
</div>
