<div class="dashboard">
  <div class="dropdown left" appDropdownBtn>
    <button type="button" class="dropdown__toggle">
      Create Order
      <i class="fa fa-caret-down"></i>
    </button>
    <ul class="dropdown__list" style="top: 125%;">
      <li>
        <a [routerLink]="['/dashboard/duraform']">
          <i class="fa fa-cog"></i>
          Duraform Door
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-user"></i>
          Janper Edge / Janper Acrylic
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-commenting-o"></i>
          Flatpack / Carcass
        </a>
      </li>
    </ul>
  </div>
</div>
