<tbody
  class="form__order-form-group"
  appOrderForm
  [formGroup]="formGroup"
  (submit)="onSubmit()"
>
  <tr>
    <td style="color: #ec092b">
      <i class="fa fa-hand-o-right" aria-hidden="true"></i>
    </td>
    <app-duraform-door-basic-input
      appRemoveTag
      [formGroup]="formGroup"
      (heightBlur)="onBasicInputBlur()"
      (widthBlur)="onBasicInputBlur()"
    ></app-duraform-door-basic-input>
    <app-edge-profile-form-control
      appRemoveTag
      [formGroup]="formGroup"
    ></app-edge-profile-form-control>
    <td>
      <app-duraform-option-selector
        #optionSelector
        [formGroup]="formGroup"
      ></app-duraform-option-selector>
    </td>
    <td>
      <app-hinge-hole-selector
        #hingeHoleSelector
        *ngIf="order.duraformEnquiry.hingeHoleTypeId"
        [formGroup]="formGroup"
      ></app-hinge-hole-selector>
    </td>
    <td>
      <input
        type="text"
        class="form__control"
        style="text-align: left; width: 99%"
        appSelectOnFocus
        formControlName="note"
      />
    </td>
    <td colspan="3" style="width: 5rem">
      <button
        [disabled]="formGroup.invalid"
        type="button"
        class="btn btn--primary"
        style="padding: 0.5rem 1rem"
        (click)="onSubmit()"
      >
        <i class="fa fa-save"></i>
      </button>
    </td>
  </tr>
</tbody>
