<div class="delivery-docket">
  <div class="header">
    <div class="header__manufacturer-details">
      <div class="name">Janper Pty Ltd</div>
      <div class="address">19 Newcastle Road, Bayswater VIC 3153</div>
      <div class="abn-tel">ABN 45 004 772 034 - Tel 03 9720 0533</div>
    </div>
    <div class="header__form-details">
      <div
        class="barcode"
        *ngIf="data.duraformForm.orderType === orderType.Order"
      >
        <ngx-barcode
          [bc-value]="orderNumber | leading: '0000000'"
          [bc-height]="'50px'"
        ></ngx-barcode>
      </div>
      <div
        class="order-type"
        *ngIf="data.duraformForm.orderType !== orderType.Order"
      >
        {{
          data.duraformForm.orderType === orderType.Draft ? "Draft" : "Quote"
        }}
      </div>
      <div class="title">Delivery Docket</div>
      <div
        class="order-number"
        *ngIf="data.duraformForm.orderType === orderType.Order"
      >
        {{ orderNumber | leading: "0000000" }}
      </div>
      <div class="created-date">
        Date {{ data.duraformForm.createdDate | date: "dd/MM/yyyy" }}
      </div>
    </div>
  </div>
  <div class="packaging-box">
    <div class="box">
      <div class="title">Invoice To</div>
      <div class="name">{{ data.duraformForm.invoiceTo }}</div>
      <div class="address-1">{{ data.duraformForm.invoiceAddress }}</div>
      <div class="address-2">
        {{ data.duraformForm.invoiceSuburb }}
        {{ data.duraformForm.invoiceState | uppercase }}
        {{ data.duraformForm.invoicePostcode }}
      </div>
    </div>
    <div class="box">
      <div class="title">Delivery To</div>
      <div class="name">{{ data.duraformForm.deliveryTo }}</div>
      <div class="address-1">{{ data.duraformForm.deliveryAddress }}</div>
      <div class="address-2">
        {{ data.duraformForm.deliverySuburb }}
        {{ data.duraformForm.deliveryState | uppercase }}
        {{ data.duraformForm.deliveryPostcode }}
      </div>
    </div>
    <div class="box">
      <div class="title">Delivery Note</div>
      <div class="description">
        {{ data.duraformForm.deliveryNote }}
      </div>
    </div>
  </div>
  <div class="job-details-box">
    <div class="title">Customer Order No</div>
    <div class="customer-order-number">
      {{ data.duraformForm.customerOrderNumber }}
    </div>
    <div class="job-details">
      <span *ngIf="data.duraformForm.orderType === orderType.Draft">
        DRAFT
      </span>
      <span *ngIf="data.duraformForm.orderType === orderType.Quote">
        QUOTE
      </span>
      <span *ngIf="data.duraformForm.orderType === orderType.Order">
        Job No: {{ orderNumber | leading: "0000000" }}
      </span>
      | {{ data.duraformDesign }} | {{ data.duraformWrapColor }}
      {{ data.duraformWrapType }} |
      {{ data.duraformSerie }}
      {{ data.duraformForm.hingeHoleTypeId ? "| " + data.hingeHoleType : null }}
    </div>
  </div>
  <div class="components-section">
    <div
      class="component-box"
      *ngIf="data.duraformForm.duraformDoors.length > 0"
    >
      <app-delivery-docket-duraform-doors
        [doors]="data.duraformForm.duraformDoors"
        [edgeProfiles]="data.edgeProfiles"
      ></app-delivery-docket-duraform-doors>
    </div>
    <div class="component-box" *ngIf="data.duraformForm.pantryDoors.length > 0">
      <app-delivery-docket-pantry-doors
        [pantryDoors]="data.duraformForm.pantryDoors"
        [pantryDoorChairRailTypes]="data.pantryDoorChairRailTypes"
        [edgeProfiles]="data.edgeProfiles"
      ></app-delivery-docket-pantry-doors>
    </div>
    <div class="component-box" *ngIf="data.duraformForm.endPanels.length > 0">
      <app-delivery-docket-end-panels
        [endPanels]="data.duraformForm.endPanels"
        [edgeProfiles]="data.edgeProfiles"
      ></app-delivery-docket-end-panels>
    </div>
    <div
      class="component-box"
      *ngIf="data.duraformForm.duraformDrawers.length > 0"
    >
      <app-delivery-docket-duraform-drawers
        [drawers]="data.duraformForm.duraformDrawers"
        [drawerTypes]="data.duraformDrawerTypes"
        [edgeProfiles]="data.edgeProfiles"
      ></app-delivery-docket-duraform-drawers>
    </div>
  </div>
  <div class="footer">
    <div class="note">
      Please note: All goods remain the property of Janper Pty Ltd until pay for
      in full.
    </div>
    <div class="note">
      NOTE: For all series 4 and series 5 orders with a Natural, Matt or Satin
      finish we will waranty the integrity of the product but not the quality of
      the finish.
    </div>
  </div>
</div>
