<td>
  <input
    class="form__control"
    currencyMask
    appSelectOnFocus
    [formControl]="quantity"
    (blur)="quantity.invalid && quantity.setValue(1)"
    [options]="{
      align: 'center',
      allowZero: false,
      precision: '0',
      decimal: '',
      prefix: '',
      thousands: '',
      max: 100
    }"
  />
</td>
<td>
  <input
    class="form__control"
    currencyMask
    appSelectOnFocus
    [formControl]="height"
    [options]="{
      align: 'center',
      allowZero: false,
      precision: '0',
      decimal: '',
      prefix: '',
      thousands: '',
      max: 2500
    }"
    (keyup)="heightKeyUp.emit()"
  />
</td>
<td>
  <input
    class="form__control"
    currencyMask
    appSelectOnFocus
    [formControl]="width"
    [options]="{
      align: 'center',
      allowZero: false,
      precision: '0',
      decimal: '',
      prefix: '',
      thousands: '',
      max: 2500
    }"
    (input)="widthKeyUp.emit()"
  />
</td>
