<table class="table table--bordered">
  <thead>
    <tr>
      <th rowspan="2" style="width: 5rem;">Qty.</th>
      <th rowspan="2" style="width: 6rem;">
        No. <br />
        Shields
      </th>
      <th rowspan="2" style="width: 9rem;">
        O/A <br />
        Height
      </th>
      <th rowspan="2" style="width: 9rem;">
        O/A <br />
        Width
      </th>

      <th colspan="4">
        Extra Rail
      </th>
      <th rowspan="2" style="width: 25rem;">
        Duraform Options <br />
        (e.g Double Sided, Fold Back)
      </th>
      <th colspan="4">'X' For Square Edge</th>
      <th rowspan="2" colspan="2">Note</th>
    </tr>
    <tr>
      <th style="width: 6rem;">Top</th>
      <th style="width: 6rem;">Bottom</th>
      <th style="width: 6rem;">Left</th>
      <th style="width: 6rem;">Right</th>
      <th style="width: 4rem;">T</th>
      <th style="width: 4rem;">B</th>
      <th style="width: 4rem;">L</th>
      <th style="width: 4rem;">R</th>
    </tr>
  </thead>
  <tbody>
    <app-end-panel-form
      appRemoveTag
      (formSubmit)="onAddEndPanel($event)"
    ></app-end-panel-form>
  </tbody>

  <tbody class="table__spacer" *ngIf="order.endPanels.length > 0">
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  <tbody>
    <app-end-panel-cart-item
      appRemoveTag
      *ngFor="let endPanel of order.endPanels"
      [endPanel]="endPanel"
      (removeEndPanel)="onRemoveEndPanel($event)"
    ></app-end-panel-cart-item>
  </tbody>
</table>
