<div class="component-table">
  <div class="title">End Panels</div>
  <table>
    <thead>
      <tr>
        <th class="qty">qty</th>
        <th class="height">height</th>
        <th class="width">width</th>
        <th class="shields">no. shields</th>
        <th class="rail-size">rail left</th>
        <th class="rail-size">rail center</th>
        <th class="rail-size">rail right</th>
        <th class="extra-rail">extra rail top</th>
        <th class="extra-rail">extra rail bottom</th>
        <th class="side">t</th>
        <th class="side">b</th>
        <th class="side">l</th>
        <th class="side">r</th>
        <th class="option">option</th>
        <th class="checkbox">routed</th>
        <th class="checkbox">cleaned</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of endPanels">
        <td>{{ item.quantity }}</td>
        <td>{{ item.height }}</td>
        <td>{{ item.width }}</td>
        <td>{{ item.numberOfShields }}</td>
        <td>{{ item.railLeft }}</td>
        <td>{{ item.railCenter }}</td>
        <td>{{ item.railRight }}</td>
        <td>{{ item.extraRailTop }}</td>
        <td>{{ item.extraRailBottom }}</td>
        <td class="side">
          {{ item.top ? "Y" : null }}
        </td>
        <td class="side">
          {{ item.bottom ? "Y" : null }}
        </td>
        <td class="side">
          {{ item.left ? "Y" : null }}
        </td>
        <td class="side">
          {{ item.right ? "Y" : null }}
        </td>
        <td class="option">
          {{ item.duraformOption?.toString() }}
        </td>
        <td class="checkbox">
          <div class="checkbox"></div>
        </td>
        <td class="checkbox">
          <div class="checkbox"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
