<div class="cpf">
  <app-simple-box [heading]="'Change Password'">
    <form [formGroup]="formGroup">
      <div class="form__group">
        <label class="form__label">Current Password</label>
        <input
          #currentPasswordInput
          type="password"
          class="form__control"
          formControlName="currentPassword"
        />
      </div>
      <div class="form__group">
        <label class="form__label">New Password</label>
        <input
          type="password"
          class="form__control"
          formControlName="newPassword"
        />
      </div>
      <div class="form__group">
        <label class="form__label">Confirm Password</label>
        <input
          type="password"
          class="form__control"
          formControlName="confirmPassword"
        />
      </div>
      <div class="row">
        <div class="col-1-2">
          <button
            type="submit"
            class="btn btn--primary"
            [disabled]="formGroup.invalid || isLoading"
            (click)="onSubmit()"
          >
            Submit
          </button>
        </div>
        <div class="col-1-2 right">
          <button
            class="btn btn--default"
            [disabled]="isLoading"
            (click)="cancel.emit()"
          >
            Cancel
          </button>
        </div>
      </div>
    </form>
  </app-simple-box>
</div>
