<div class="primary-left-nav">
  <a [routerLink]="['']" class="header">
    <img src="./../../../assets/images/logo.webp" class="header__logo" />
    <h1 class="header__title">Janper Cab.</h1>
  </a>
  <div class="nav-body">
    <ul class="nav">
      <li class="nav__item">
        <a
          [routerLink]="['']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <div class="nav__item__icon text-blue">
            <i class="fa fa-home"></i>
          </div>
          <div class="nav__item__text">Dashboard</div>
        </a>
      </li>
      <li class="nav__item">
        <a>
          <div class="nav__item__icon text-brown">
            <i class="fa fa-envelope-o"></i>
          </div>
          <div class="nav__item__text">Email</div>
        </a>
      </li>
      <li class="nav__item" *ngIf="auth.isInRole(role.Distributor)">
        <a [routerLink]="['/dashboard/customers']">
          <div class="nav__item__icon text-purple">
            <i class="fa fa-address-book" aria-hidden="true"></i>
          </div>
          <div class="nav__item__text">Customers</div>
        </a>
      </li>
      <li class="nav__item" (click)="layoutService.toggleLeftNav(false)">
        <a [appClassToggle]="'active'">
          <div class="nav__item__icon text-orange">
            <i class="fa fa-table"></i>
          </div>
          <div class="nav__item__text">
            Duraform Doors
            <ul class="nav__item__sub-menu">
              <li *ngIf="auth.role !== role[role.Manufacturer]">
                <a [routerLink]="['/dashboard/duraform']">
                  <i
                    class="fa fa-plus-circle text-green"
                    aria-hidden="true"
                  ></i>
                  Create New Order
                </a>
              </li>
              <li>
                <a>
                  <i
                    class="fa fa-quote-right text-orange"
                    aria-hidden="true"
                  ></i>
                  Quote List
                </a>
              </li>
              <li>
                <a [routerLink]="['/dashboard/duraform/orders']">
                  <i class="fa fa-tasks text-purple" aria-hidden="true"></i>
                  Order List
                </a>
              </li>
            </ul>
          </div>
        </a>
      </li>
      <li
        class="nav__item"
        *ngIf="auth.isInRole(role[role.Manufacturer])"
        (click)="layoutService.toggleLeftNav(false)"
      >
        <a [appClassToggle]="'active'">
          <div class="nav__item__icon text-green">
            <i class="fa fa-cog fa-spin"></i>
          </div>
          <div class="nav__item__text">
            Production
            <ul class="nav__item__sub-menu">
              <li>
                <a [routerLink]="['/production/machines']">
                  <i class="fa fa-android text-alert" aria-hidden="true"></i>
                  Machines
                </a>
              </li>
              <li>
                <a [routerLink]="['/production/delivery']">
                  <i class="fa fa-truck text-blue" aria-hidden="true"></i>
                  Delivery
                </a>
              </li>
              <li>
                <a [routerLink]="['/production/invoicing']">
                  <i class="fa fa-inbox text-orange" aria-hidden="true"></i>
                  Invoicing
                </a>
              </li>
            </ul>
          </div>
        </a>
      </li>
      <li
        class="nav__item"
        *ngIf="auth.isInRole(role[role.Manufacturer])"
        (click)="layoutService.toggleLeftNav(false)"
      >
        <a [appClassToggle]="'active'">
          <div class="nav__item__icon">
            <i class="fa fa-database" aria-hidden="true"></i>
          </div>
          <div class="nav__item__text">
            Settings
            <ul class="nav__item__sub-menu">
              <li>
                <a [routerLink]="['/dashboard/settings/duraform-prices']">
                  <i class="fa fa-bar-chart" aria-hidden="true"></i>
                  Duraform Prices
                </a>
              </li>
              <li>
                <a>
                  <i class="fa fa-paint-brush" aria-hidden="true"></i>
                  Duraform Colours
                </a>
              </li>
            </ul>
          </div>
        </a>
      </li>
      <li class="nav__item">
        <a [appClassToggle]="'active'">
          <div class="nav__item__icon">
            <i class="fa fa-files-o"></i>
          </div>
          <div class="nav__item__text">
            Pages
            <ul class="nav__item__sub-menu">
              <li>
                <a>404</a>
              </li>
              <li>
                <a>500</a>
              </li>
              <li>
                <a>Sign In</a>
              </li>
              <li>
                <a>Sign Up</a>
              </li>
            </ul>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
