<div class="duraform-door-list">
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
  <app-duraform-door></app-duraform-door>
</div>
