<div class="duraform-option-selector">
  <button
    type="button"
    class="btn btn--primary edit-btn"
    style="padding: 0.5rem 1rem"
    *ngIf="selectedType"
    (click)="onEditBtnClick()"
  >
    <i class="fa fa-edit"></i>
  </button>
  <input
    #typeInput
    type="text"
    class="form__control input-for-display"
    readonly
    (click)="onFocus()"
    (focus)="onFocus()"
  />
  <button
    type="button"
    class="btn btn--secondary clear-btn"
    style="padding: 0.5rem 1rem"
    *ngIf="selectedType"
    (click)="onClearOption()"
  >
    <i class="fa fa-eraser" aria-hidden="true"></i>
  </button>
  <div class="container" [hidden]="!showTypeList || showOptionForm">
    <ul class="type-list">
      <li
        *ngFor="let optionType of filteredOptionTypes"
        (click)="onOptionTypeSelect(optionType)"
      >
        {{ optionType.name }}
      </li>
    </ul>
  </div>
  <div
    class="container"
    *ngIf="selectedType && showOptionForm && !showTypeList"
  >
    <div class="option-form">
      <app-duraform-option-no-face
        appRemoveTag
        *ngIf="selectedType.id === typeKeyEnum.NoFaceRoute"
        [formGroup]="formGroup"
        (valueChange)="onUpdateDisplayValue()"
      ></app-duraform-option-no-face>
      <app-duraform-option-double-sided-form
        appRemoveTag
        *ngIf="selectedType.id === typeKeyEnum.DoubleSided"
        [formGroup]="formGroup"
        (valueChange)="onUpdateDisplayValue()"
      ></app-duraform-option-double-sided-form>
      <app-duraform-option-fold-back-form
        appRemoveTag
        *ngIf="selectedType.id === typeKeyEnum.FoldBack"
        [formGroup]="formGroup"
        (valueChange)="onUpdateDisplayValue()"
      ></app-duraform-option-fold-back-form>
      <app-duraform-option-pane-frame-form
        appRemoveTag
        *ngIf="selectedType.id === typeKeyEnum.PaneFrame"
        [formGroup]="formGroup"
        (valueChange)="onUpdateDisplayValue()"
      ></app-duraform-option-pane-frame-form>
      <app-duraform-option-roller-shutter
        appRemoveTag
        *ngIf="selectedType.id === typeKeyEnum.RollerShutter"
        [formGroup]="formGroup"
        (valueChange)="onUpdateDisplayValue()"
      >
      </app-duraform-option-roller-shutter>
      <app-duraform-option-microwave-frame
        appRemoveTag
        *ngIf="selectedType.id === typeKeyEnum.MicrowaveFrame"
        [formGroup]="formGroup"
        (valueChange)="onUpdateDisplayValue()"
      ></app-duraform-option-microwave-frame>
    </div>
  </div>
</div>
