<div class="duraform-option-selector">
  <input
    #typeInput
    type="text"
    class="form__control input-for-display"
    readonly
    (click)="onFocus()"
    (focus)="onFocus()"
  />
  <button
    type="button"
    class="btn btn--primary edit-btn"
    style="padding: 0.5rem 1rem;"
    *ngIf="selectedType"
    (click)="showOptionForm = !showOptionForm; showTypeList = false"
  >
    <i class="fa fa-edit"></i>
  </button>
  <ul class="type-list" [ngClass]="{ show: showTypeList && !showOptionForm }">
    <li *ngIf="selectedType" (click)="onClearOption()">
      <i class="fa fa-eraser text-alert" aria-hidden="true"></i>
      <span style="margin-left: 0.8rem;">Clear Option</span>
    </li>
    <li
      *ngFor="let optionType of duraformOptionTypes"
      (click)="onOptionTypeSelect(optionType)"
    >
      {{ optionType.name }}
    </li>
  </ul>
  <div
    class="option-form"
    [ngClass]="{ show: showOptionForm && !showTypeList }"
    *ngIf="selectedType"
  >
    <app-duraform-option-no-face
      appRemoveTag
      *ngIf="selectedType.id === typeKeyEnum.NoFaceRoute"
      [formGroup]="formGroup"
      (valueChange)="onUpdateDisplayValue()"
    ></app-duraform-option-no-face>
    <app-duraform-option-double-sided-form
      appRemoveTag
      *ngIf="selectedType.id === typeKeyEnum.DoubleSided"
      [formGroup]="formGroup"
      (valueChange)="onUpdateDisplayValue()"
    ></app-duraform-option-double-sided-form>
    <div *ngIf="selectedType.id === typeKeyEnum.FoldBack">
      Fold Back
    </div>
    <div *ngIf="selectedType.id === typeKeyEnum.PaneFrame">
      Pane Frame
    </div>
  </div>
</div>
