<div class="component-box">
  <div class="title">Drawers</div>
  <table>
    <thead>
      <tr>
        <th style="width: 50px">qty</th>
        <th style="width: 80px">height</th>
        <th style="width: 80px">width</th>
        <th style="width: 80px">no drawers</th>
        <th style="width: 285px">drawer type</th>
        <th style="text-align: center; width: 30px">t</th>
        <th style="text-align: center; width: 30px">b</th>
        <th style="text-align: center; width: 30px">l</th>
        <th style="text-align: center; width: 30px">r</th>
        <th style="text-align: center; width: 80px">drill fronts</th>
        <th style="padding-left: 10px; width: 80px">d1</th>
        <th style="padding-left: 10px; width: 80px">d2</th>
        <th style="padding-left: 10px; width: 80px">d3</th>
        <th style="padding-left: 10px; width: 80px">d4</th>
        <th style="padding-left: 10px; width: 80px">d5</th>
        <th style="padding-left: 10px; width: 100px">routed</th>
        <th style="padding-left: 10px; width: 100px">cleaned</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let drawer of drawers">
        <td>{{ drawer.quantity }}</td>
        <td>{{ drawer.height }}</td>
        <td>{{ drawer.width }}</td>
        <td>{{ drawer.numberOfDrawers }}</td>
        <td>{{ getDrawerType(drawer.duraformDrawerTypeId).name }}</td>
        <td style="text-align: center">
          {{ drawer.top ? "Y" : null }}
        </td>
        <td style="text-align: center">
          {{ drawer.bottom ? "Y" : null }}
        </td>
        <td style="text-align: center">
          {{ drawer.left ? "Y" : null }}
        </td>
        <td style="text-align: center">
          {{ drawer.right ? "Y" : null }}
        </td>
        <td style="text-align: center">
          {{ drawer.hasDrillFronts ? "YES" : "NO" }}
        </td>
        <td style="padding-left: 10px">{{ drawer.drawerOne }}</td>
        <td style="padding-left: 10px">{{ drawer.drawerTwo }}</td>
        <td style="padding-left: 10px">{{ drawer.drawerThree }}</td>
        <td style="padding-left: 10px">{{ drawer.drawerFour }}</td>
        <td style="padding-left: 10px">{{ drawer.drawerFive }}</td>
        <td style="padding-left: 10px">
          <div class="checkbox"></div>
        </td>
        <td style="padding-left: 10px">
          <div class="checkbox"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
