<div class="component-table">
  <div class="title">Drawers</div>
  <table>
    <thead>
      <tr>
        <th class="qty">qty</th>
        <th class="height">height</th>
        <th class="width">width</th>
        <th class="drawers">no drawers</th>
        <th class="drawer-type">drawer type</th>
        <th class="side">t</th>
        <th class="side">b</th>
        <th class="side">l</th>
        <th class="side">r</th>
        <th class="drill-front">drill fronts</th>
        <th class="draw-size">d1</th>
        <th class="draw-size">d2</th>
        <th class="draw-size">d3</th>
        <th class="draw-size">d4</th>
        <th class="draw-size">d5</th>
        <th class="checkbox">routed</th>
        <th class="checkbox">cleaned</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let drawer of drawers">
        <td>{{ drawer.quantity }}</td>
        <td>{{ drawer.height }}</td>
        <td>{{ drawer.width }}</td>
        <td>{{ drawer.numberOfDrawers }}</td>
        <td>{{ drawer.duraformDrawerType.name }}</td>
        <td class="side">
          {{ drawer.top ? "Y" : null }}
        </td>
        <td class="side">
          {{ drawer.bottom ? "Y" : null }}
        </td>
        <td class="side">
          {{ drawer.left ? "Y" : null }}
        </td>
        <td class="side">
          {{ drawer.right ? "Y" : null }}
        </td>
        <td style="text-align: center">
          {{ drawer.hasDrillFronts ? "YES" : "NO" }}
        </td>
        <td style="padding-left: 10px">{{ drawer.drawerOne }}</td>
        <td style="padding-left: 10px">{{ drawer.drawerTwo }}</td>
        <td style="padding-left: 10px">{{ drawer.drawerThree }}</td>
        <td style="padding-left: 10px">{{ drawer.drawerFour }}</td>
        <td style="padding-left: 10px">{{ drawer.drawerFive }}</td>
        <td class="checkbox">
          <div class="checkbox"></div>
        </td>
        <td class="checkbox">
          <div class="checkbox"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
