<div class="duraform-order-step-three">
  <app-float-box *ngIf="showInvoiceForm">
    <app-invoice-detail-form
      (update)="onUpdateInvoiceDetails($event)"
      (cancel)="showInvoiceForm = false"
    ></app-invoice-detail-form>
  </app-float-box>
  <app-float-box *ngIf="showDeliveryForm">
    <app-delivery-detail-form
      (update)="onUpdateDeliveryDetails($event)"
      (cancel)="showDeliveryForm = false"
    ></app-delivery-detail-form>
  </app-float-box>

  <div class="component-box">
    <div class="shipping-details-box">
      <h1 class="customer-name" *ngIf="order.duraformId">
        {{ customer?.name }}
      </h1>
      <div
        class="form__group"
        *ngIf="
          !order.duraformId &&
          auth.customer.customerType === customerType.Distributor
        "
      >
        <label class="form__label">
          Select Customer
        </label>
        <select
          class="form__control"
          *ngIf="!order.duraformId"
          [(ngModel)]="order.cabinetMakerId"
          (change)="onSelectCabinetMaker()"
        >
          <option
            [value]="undefined"
            disabled
            *ngIf="!order.cabinetMakerId"
          ></option>
          <option *ngFor="let maker of cabinetMakerList" [ngValue]="maker.id">
            {{ maker.name }}
          </option>
        </select>
      </div>
      <div class="row" *ngIf="order.cabinetMakerId">
        <div class="col-1-2">
          <div class="row">
            <div class="col-1-2">
              <div class="detail">
                <button
                  type="button"
                  class="detail__edit-btn"
                  (click)="showInvoiceForm = true"
                >
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                <div class="detail__title">Invoice To</div>
                <div class="detail__body">
                  <div class="detail__name">{{ order.invoiceTo }}</div>
                  <div class="detail__address-main">
                    {{ order.invoiceAddress }}
                  </div>
                  <div class="detail__address-sub">
                    {{ order.invoiceSuburb }}, {{ order.invoiceState }}
                    {{ order.invoicePostcode }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-1-2">
              <div class="detail">
                <button
                  type="button"
                  class="detail__edit-btn"
                  (click)="showDeliveryForm = true"
                >
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </button>
                <div class="detail__title">Delivery To</div>
                <div class="detail__body">
                  <div class="detail__name">{{ order.deliveryTo }}</div>
                  <div class="detail__address-main">
                    {{ order.deliveryAddress }}
                  </div>
                  <div class="detail__address-sub">
                    {{ order.deliverySuburb }}, {{ order.deliveryState }}
                    {{ order.deliveryPostcode }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1-2">
          <app-simple-box [heading]="'Delivery Note'">
            <textarea
              class="form__control"
              style="font-size: 1.8rem;"
              [(ngModel)]="order.deliveryNote"
            ></textarea>
          </app-simple-box>
        </div>
      </div>
    </div>
    <div *ngIf="order.cabinetMakerId">
      <div class="row">
        <div class="col-2-3">
          <ul class="selection-list">
            <li class="selection">
              <span class="selection__door-design">
                {{ order.selectedDesign.name }}
              </span>
            </li>
            <li class="selection" *ngIf="order.isRoutingOnly">
              <div class="selection__route-only">ROUTE ONLY</div>
            </li>
            <li class="selection" *ngIf="!order.isRoutingOnly">
              <span class="selection__wrap-type">
                {{ order.selectedWrapType?.name }}
              </span>
              <span class="selection__wrap-color">
                {{ order.selectedWrapColor?.name }}
              </span>
            </li>
            <li class="selection">
              <span class="selection__door-serie">
                {{ order.selectedSerie.name }}
              </span>
            </li>
            <li class="selection" *ngIf="order.hingeHoleTypeId">
              <span class="selection__hinge-hole">
                HINGE HOLE
              </span>
            </li>
          </ul>
        </div>
        <div class="col-1-3 middle">
          <div class="row" style="width: 100%;">
            <div class="col-1-3 middle"></div>
          </div>
        </div>
      </div>

      <table
        class="table table--component-list"
        style="max-width: 50rem; margin: 3rem 0;"
      >
        <thead>
          <tr>
            <th style="width: 20rem;">Option & Accessories</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="order.hingeHoleTypeId">
            <td class="text-left">
              {{ asset.getHingeType(order.hingeHoleTypeId).name }}
            </td>
            <td>({{ order.componentsWithHingeHoleCount }}) Hinge Holes</td>
          </tr>
          <tr>
            <td class="text-left">
              Arch Profile
            </td>
            <td>
              {{ order.selectedArch ? order.selectedArch.name : "SQUARE" }}
            </td>
          </tr>
          <tr>
            <td class="text-left">Board Colour</td>
            <td>White (Fixed Value)</td>
          </tr>
        </tbody>
      </table>

      <app-box
        [showHeading]="false"
        [isScrollable]="true"
        [isTransparent]="true"
      >
        <div class="component-list" *ngIf="order.duraformDoors.length > 0">
          <app-duraform-door-component-list
            [duraformDoors]="order.duraformDoors"
          ></app-duraform-door-component-list>
        </div>
        <div class="component-list" *ngIf="order.pantryDoors.length > 0">
          <app-duraform-pantry-door-component-list
            [pantryDoors]="order.pantryDoors"
          ></app-duraform-pantry-door-component-list>
        </div>
        <div class="component-list" *ngIf="order.endPanels.length > 0">
          <app-end-panel-component-list
            [endPanels]="order.endPanels"
          ></app-end-panel-component-list>
        </div>
        <div class="component-list" *ngIf="order.duraformDrawers.length > 0">
          <app-duraform-drawer-component-list
            [duraformDrawers]="order.duraformDrawers"
          ></app-duraform-drawer-component-list>
        </div>
      </app-box>
    </div>
  </div>
  <div class="option-box" *ngIf="order.cabinetMakerId">
    <app-simple-box [heading]="'Customer Order Number'">
      <input
        type="text"
        class="form__control text-center"
        style="font-weight: bold; font-size: 2rem; padding: 1rem;"
        required
        [(ngModel)]="order.customerOrderNumber"
      />
    </app-simple-box>
    <div class="option-box__action-center">
      <button
        class="action-btn"
        [disabled]="!order.customerOrderNumber"
        (click)="onSaveDraft()"
      >
        <i class="fa fa-file-text text-brown"></i>
        <span *ngIf="!order.duraformId">Save as Draft</span>
        <span *ngIf="order.duraformId">Update Draft</span>
      </button>
      <button
        class="action-btn"
        [disabled]="!order.customerOrderNumber"
        (click)="onSendInQuote()"
      >
        <i class="fa fa-quora text-blue" aria-hidden="true"></i>
        <span>Send in Quote</span>
      </button>
      <button class="action-btn" [disabled]="!order.customerOrderNumber">
        <i class="fa fa-plug text-orange"></i>
        <span>Send in Order</span>
      </button>
      <div style="display: contents;" *ngIf="order.duraformId">
        <div class="action-divider"></div>
        <button class="action-btn" [disabled]="!order.customerOrderNumber">
          <i class="fa fa-truck" aria-hidden="true"></i>
          <span>Docket Delivery</span>
        </button>
      </div>
      <div class="action-divider"></div>
      <button class="action-btn" (click)="onEditClick()">
        <i class="fa fa-pencil"></i>
        <span>Go Back & Edit</span>
      </button>
    </div>
  </div>
</div>
