<div class="panel">
  <div class="panel__heading">IB BACKS</div>
  <div class="panel__content">
    <table class="table table--component-list">
      <thead>
        <tr>
          <th rowspan="2" style="width: 3rem">#</th>
          <th rowspan="2" style="width: 4rem">Qty</th>
          <th rowspan="2" style="width: 6rem">
            O/A <br />
            Height
          </th>
          <th rowspan="2" style="width: 6rem">
            O/A <br />
            Width
          </th>
          <th rowspan="2" style="width: 6rem">
            No. <br />
            Shields
          </th>
          <th colspan="3">Rail Sizes</th>
          <th colspan="2">Extra Rail</th>
          <th rowspan="2" style="width: 20rem">Edge Profile</th>
          <th colspan="4">'X' For Square Edge</th>
          <th rowspan="2" style="width: 26rem">Option</th>
          <th rowspan="2">Note</th>
          <th rowspan="2" style="width: 10rem">Unit Price</th>
          <th rowspan="2" style="width: 10rem">Price</th>
        </tr>
        <tr>
          <th style="width: 6rem">Left</th>
          <th style="width: 6rem">Center</th>
          <th style="width: 6rem">Right</th>
          <th style="width: 5rem">Top</th>
          <th style="width: 5rem">Bottom</th>
          <th style="width: 4rem">T</th>
          <th style="width: 4rem">B</th>
          <th style="width: 4rem">L</th>
          <th style="width: 4rem">R</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let endPanel of endPanels; let i = index">
          <td class="line-number">{{ i + 1 }}</td>
          <td>{{ endPanel.quantity }}</td>
          <td>{{ endPanel.height }}</td>
          <td>{{ endPanel.width }}</td>
          <td>{{ endPanel.numberOfShields }}</td>
          <td>{{ endPanel.railLeft }}</td>
          <td>{{ endPanel.railCenter }}</td>
          <td>{{ endPanel.railRight }}</td>
          <td>{{ endPanel.extraRailTop }}</td>
          <td>{{ endPanel.extraRailBottom }}</td>
          <td class="text-left">
            {{ asset.getEdgeProfile(endPanel.duraformEdgeProfileId).name }}
          </td>
          <td>{{ endPanel.top ? "X" : null }}</td>
          <td>{{ endPanel.bottom ? "X" : null }}</td>
          <td>{{ endPanel.left ? "X" : null }}</td>
          <td>{{ endPanel.right ? "X" : null }}</td>
          <td class="text-left">
            {{ endPanel.duraformOption?.toString() }}
          </td>
          <td class="text-left">{{ endPanel.note }}</td>
          <td class="text-right">{{ endPanel.unitPrice | currency }}</td>
          <td class="text-right">{{ endPanel.subTotal | currency }}</td>
        </tr>
      </tbody>
      <tbody class="subtotal">
        <tr>
          <td colspan="18" class="subtotal__header">
            <b>Subtotal</b>
          </td>
          <td class="text-right">
            {{ endPanels | arraySum: "subTotal" | currency }}
          </td>
        </tr>
        <tr>
          <td colspan="18" class="subtotal__header">
            <b>Discount ({{ duraformEnquiry.discountRate }}%)</b>
          </td>
          <td class="text-right">
            - {{ endPanels | arraySum: "totalDiscount" | currency }}
          </td>
        </tr>
        <tr>
          <td class="line-number">
            <i class="fa fa-calculator" aria-hidden="true"></i>
          </td>
          <td>{{ endPanels | arraySum: "quantity" }}</td>
          <td colspan="16" class="subtotal__header">Total Price</td>
          <td class="subtotal__price">
            {{ endPanels | arraySum: "totalPrice" | currency }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
