<div class="draft-list" *ngIf="!isInitializing">
  <table class="table table--left table--hovered">
    <thead>
      <tr>
        <th style="width: 15rem">Created At</th>
        <th style="width: 7rem">Type</th>
        <th>Description</th>
        <th style="width: 15rem">Last Updated</th>
        <th class="text-right" style="width: 15rem">Total Price</th>
        <th style="width: 1rem"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of drafts" (click)="onItemClick(item)">
        <td>{{ item.createdDate | date: "dd/MM/yyyy HH:mm" }}</td>
        <td>
          {{ item.jobType }}
        </td>
        <td>
          {{ item.customerReference }} | {{ item.doorType }}
          {{ item.doorColour }}
        </td>
        <td>
          {{
            item.lastEditted == null
              ? "--"
              : (item.lastEditted | date: "dd/MM/yyyy HH:mm")
          }}
        </td>
        <td class="text-right">
          {{ item.totalPrice | currency }}
        </td>
        <td class="text-center">
          <button type="button" class="btn btn--sm btn--secondary">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
