<div class="dropdown" appDropdownBtn>
  <button type="button" class="dropdown__toggle">
    <img class="dropdown__avatar" src="./../../../assets/images/avatar.jpg" />
    {{ authService.decodedToken?.unique_name | titlecase }}
    <i class="fa fa-caret-down"></i>
  </button>
  <ul class="dropdown__list" style="top: 125%;">
    <li>
      <a href="#" class="active">
        <i class="fa fa-cog"></i>
        Setting
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-user"></i>
        Profile
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa fa-commenting-o"></i>
        Messages
      </a>
    </li>
    <li class="dropdown__divider"></li>
    <li>
      <a (click)="onLogOut()">
        <i class="fa fa-power-off"></i>
        Logout
      </a>
    </li>
  </ul>
</div>
