<div class="duraform-order-step-two" *ngIf="isLoaded">
  <div class="col-left">
    <div class="info-box">
      <app-duraform-design
        [design]="order.selectedDesign"
        [showOrderDetails]="true"
        [canSelect]="false"
      ></app-duraform-design>
    </div>
    <app-box [headingText]="'Options & Accessories'">
      <div class="form__group">
        <div class="form__label">Edge Profile</div>
        <app-edge-profile-selector
          [canSelect]="!order.hasFixedEdgeProfile"
          [edgeProfileList]="edgeProfileList"
          [selectedEdgeProfile]="order.selectedEdgeProfile"
          (selectProfile)="onSelectProfile($event)"
        ></app-edge-profile-selector>
      </div>
      <div class="form__group">
        <div class="form__label">Arch Style</div>
        <app-arch-selector
          [canSelect]="!order.selectedDesign.hasNoArch"
          [archList]="archList"
          [selectedArch]="order.selectedArch"
          (selectArch)="onSelectArch($event)"
        ></app-arch-selector>
      </div>
    </app-box>
    <button
      type="button"
      class="duraform-order-step-two__check-out-btn"
      [disabled]="!order.hasComponent"
      (click)="onCheckOutClick()"
    >
      Check Out
    </button>
  </div>
  <div class="col-right">
    <div class="tab scrollable" appTab>
      <ul class="tab__headers">
        <li class="header active">Doors & Panels</li>
        <li class="header">Pantry Doors</li>
        <li class="header">IB Backs</li>
        <li class="header">Drawers</li>
      </ul>
      <ul class="tab__pages">
        <li class="page active">
          <app-duraform-door-tab
            [duraformOptionTypes]="duraformOptionTypes"
          ></app-duraform-door-tab>
        </li>
        <li class="page">
          <!-- <app-pantry-door-tab
            [pantryDoorChairRailTypes]="pantryDoorChairRailTypes"
            [wrappingOptions]="wrappingOptions"
          ></app-pantry-door-tab> -->
        </li>
        <li class="page">
          <!-- <app-end-panel-tab
            [wrappingOptions]="wrappingOptions"
          ></app-end-panel-tab> -->
        </li>
        <li class="page">
          <!-- <app-duraform-drawer-tab
            [duraformDrawerTypes]="duraformDrawerTypes"
          ></app-duraform-drawer-tab> -->
        </li>
      </ul>
    </div>
  </div>
</div>
