<div class="duraform-order-step-two">
  <div class="section-one">
    <app-duraform-info-box appRemoveTag></app-duraform-info-box>
    <app-duraform-accessories-box appRemoveTag></app-duraform-accessories-box>
    <app-box [showHeading]="false">
      <button
        type="button"
        class="btn duraform-order-step-two__go-back-btn"
        (click)="onRepickClick()"
      >
        Back
      </button>
      <button
        type="button"
        class="btn duraform-order-step-two__check-out-btn"
        [disabled]="!order.formData.hasComponent"
        (click)="onPreviewOrderClick()"
      >
        Next
      </button>
    </app-box>
  </div>
  <div class="section-two">
    <div class="tab scrollable" appTab>
      <ul class="tab__headers">
        <li class="header active">Doors & Panels</li>
        <li class="header">Pantry Doors</li>
        <li class="header">IB Backs</li>
        <li class="header">Drawers</li>
      </ul>
      <ul class="tab__pages">
        <li class="page active">
          <app-duraform-door-tab></app-duraform-door-tab>
        </li>
        <li class="page">
          <app-pantry-door-tab></app-pantry-door-tab>
        </li>
        <li class="page">
          <app-end-panel-tab></app-end-panel-tab>
        </li>
        <li class="page">
          <app-duraform-drawer-tab></app-duraform-drawer-tab>
        </li>
      </ul>
    </div>
  </div>
</div>
