*,
*::before,
*::after {
  box-sizing: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  -webkit-print-color-adjust: exact;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: $text-default;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;

  textarea {
    font-family: inherit;
    font-size: inherit;
  }
  .alertify {
    .ajs-dimmer {
      opacity: 0.95;
      z-index: 999999;
    }

    .ajs-modal {
      z-index: 999999;
    }

    .ajs-dialog {
      border: solid 1px black;
      box-shadow: 2px 2px 1rem black;
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      overflow: hidden;

      .ajs-commands {
        margin: -10px 24px 0 0;
      }

      .ajs-header {
        background-color: #b4c5ff;
        font-size: 2rem;
        font-weight: bold;
      }
    }

    .ajs-body {
      font-size: 1.8rem;
    }
  }
}
