.no-style {
  display: contents !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-alert {
  color: $red-primary !important;
}

.pl-3 {
  padding-left: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.text-blue {
  color: $blue-primary !important;
}

.text-brown {
  color: $brown-primary !important;
}

.text-orange {
  color: $orange-primary !important;
}

.text-purple {
  color: $purple-primary !important;
}

.text-green {
  color: $green-primary !important;
}

.img-loader {
  animation: fadeIn 0.3s ease;
  align-items: center;
  border: solid 1px rgba($color: black, $alpha: 0.1);
  background-color: white;
  display: flex;
  height: 100%;
  font-size: 4rem;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
