<div class="order-list-page">
  <app-float-box *ngIf="showCustomerPicker" [width]="150">
    <div style="padding: 2rem; background-color: white">
      <div class="row" style="margin-bottom: 1.5rem">
        <div class="col-1-2">
          <h1
            class="heading heading--default"
            style="padding-bottom: 0; border-bottom: none"
          >
            Select Customer
          </h1>
        </div>
        <div class="col-1-2 text-right">
          <button
            type="button"
            class="btn btn--primary"
            style="margin-right: 1rem"
            (click)="onAllCustomerClick()"
          >
            All Customers
          </button>
          <button
            type="button"
            class="btn btn--default"
            (click)="showCustomerPicker = false"
          >
            Close
          </button>
        </div>
      </div>
      <app-customer-list
        *ngIf="
          auth.isInRole(roles.Distributor) || auth.isInRole(roles.Manufacturer)
        "
        [allowAdd]="false"
        (itemClick)="onSelectCustomer($event)"
      ></app-customer-list>
    </div>
  </app-float-box>
  <app-simple-box [heading]="'Order List'" [height]="'100%'">
    <div class="order-list-page__control-box">
      <div
        class="row"
        *ngIf="
          auth.isInRole(roles.Distributor) || auth.isInRole(roles.Manufacturer)
        "
      >
        <div class="col-1-4">
          <div class="form__inline-group">
            <label class="form__label" style="width: 8rem">Customer</label>
            <input
              #customerSelector
              type="text"
              class="form__control"
              [readOnly]="true"
              value="All"
              (click)="showCustomerPicker = !showCustomerPicker"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1-4">
          <form (submit)="onFilterValueChange()">
            <div class="form__inline-group">
              <label class="form__label" style="width: 8rem">Search For</label>
              <input
                name="search"
                type="text"
                class="form__control"
                [(ngModel)]="filterValues.search"
              />
              <button type="submit" style="display: none">Submit</button>
            </div>
          </form>
        </div>
        <div class="col-1-4">
          <div class="form__inline-group">
            <label
              class="form__label"
              style="width: 8rem; justify-content: flex-end"
              >Status</label
            >
            <select
              class="form__control"
              [(ngModel)]="filterValues.status"
              (change)="onFilterValueChange()"
            >
              <option [value]="null">All</option>
              <option [value]="statusEnums.Ordered">Ordered</option>
              <option [value]="statusEnums.PreRoute">Pre Route</option>
              <option [value]="statusEnums.Routing">Routing</option>
              <option [value]="statusEnums.Routed">Routed</option>
              <option [value]="statusEnums.Pressing">Pressing</option>
              <option [value]="statusEnums.Pressed">Pressed</option>
              <option [value]="statusEnums.Cleaning">Cleaning</option>
              <option [value]="statusEnums.Cleaned">Cleaned</option>
              <option [value]="statusEnums.Packing">Packing</option>
              <option [value]="statusEnums.Packed">Packed</option>
              <option [value]="statusEnums.PickingUp">Picking Up</option>
              <option [value]="statusEnums.PickedUp">Picked Up</option>
              <option [value]="statusEnums.Delivering">Delivering</option>
              <option [value]="statusEnums.Delivered">Delivered</option>
              <option [value]="statusEnums.Invoiced">Invoiced</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <table
      class="table table--hovered table--left table--sortable"
      *ngIf="itemList"
    >
      <thead>
        <tr>
          <th
            style="width: 10rem"
            [ngClass]="{
              active: filterValues.sortBy === 'orderNumber',
              asc: filterValues.direction === 'asc',
              desc: filterValues.direction === 'desc'
            }"
            (click)="onSortColumn('orderNumber')"
          >
            Order No
          </th>
          <th
            style="width: 22rem"
            [ngClass]="{
              active: filterValues.sortBy === 'customerReference',
              asc: filterValues.direction === 'asc',
              desc: filterValues.direction === 'desc'
            }"
            (click)="onSortColumn('customerReference')"
          >
            Ref
          </th>
          <th
            style="width: 15rem"
            [ngClass]="{
              active: filterValues.sortBy === 'type',
              asc: filterValues.direction === 'asc',
              desc: filterValues.direction === 'desc'
            }"
            (click)="onSortColumn('type')"
          >
            Type
          </th>
          <th
            style="width: 25rem"
            [ngClass]="{
              active: filterValues.sortBy === 'customer',
              asc: filterValues.direction === 'asc',
              desc: filterValues.direction === 'desc'
            }"
            (click)="onSortColumn('customer')"
          >
            Customer
          </th>
          <th style="width: 25rem">Distributor</th>
          <th
            [ngClass]="{
              active: filterValues.sortBy === 'description',
              asc: filterValues.direction === 'asc',
              desc: filterValues.direction === 'desc'
            }"
            (click)="onSortColumn('description')"
          >
            Description
          </th>
          <th
            style="width: 10rem"
            [ngClass]="{
              active: filterValues.sortBy === 'orderedDate',
              asc: filterValues.direction === 'asc',
              desc: filterValues.direction === 'desc'
            }"
            (click)="onSortColumn('orderedDate')"
          >
            Duration
          </th>
          <th style="width: 15rem">Status</th>
          <th class="text-center" style="width: 7rem">Invoiced</th>
          <th style="width: 15rem">Created At</th>
          <th class="text-right" style="width: 15rem">Total Price</th>
        </tr>
      </thead>
      <tbody *ngIf="!isLoading && itemList.items.length === 0">
        <tr>
          <td colspan="11">
            <i>No Order Match</i>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="itemList.items.length > 0">
        <tr *ngFor="let order of itemList.items">
          <td (click)="onSelectOrder(order.id)">
            {{ order.id | leading }}
          </td>
          <td (click)="onSelectOrder(order.id)">
            {{ order.customerReference }}
          </td>
          <td (click)="onSelectOrder(order.id)">
            {{ order.doorType }}
          </td>
          <td (click)="onSelectOrder(order.id)">
            {{ order.customer.name }}
          </td>
          <td (click)="onSelectOrder(order.id)">
            {{ order.manager ? order.manager.name : "Janper Pty Ltd" }}
          </td>
          <td (click)="onSelectOrder(order.id)">{{ order.deliveryNote }}</td>
          <td (click)="onSelectOrder(order.id)">
            <span
              *ngIf="!order.isCompleted"
              [ngClass]="{ 'text-alert text-bold': order.daysInSystem >= 8 }"
            >
              {{ order.daysInSystem + " days" }}
            </span>
            <span *ngIf="order.isCompleted">Complete</span>
          </td>
          <td (click)="onSelectOrder(order.id)">
            <span [ngClass]="{ 'text-green': order.isCompleted }">
              {{ order.statusDescription }}
            </span>
          </td>
          <td class="text-center">
            <b *ngIf="order.hasBeenInvoiced">
              <i class="fa fa-check-circle text-green" aria-hidden="true"></i>
            </b>
          </td>
          <td>
            {{ order.createdDate | date: "dd/MM/yyyy hh:mm" }}
          </td>
          <td class="text-right">
            {{ order.totalPrice | currency }}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-box" *ngIf="itemList">
      <app-pagination
        [page]="filterValues.page"
        [pageSize]="filterValues.take"
        [totalItemCount]="itemList.totalItemCount"
        (pageChange)="onPageChange($event)"
      ></app-pagination>
    </div>
  </app-simple-box>
</div>
