<div class="select-menu">
  <input
    #menuInput
    type="text"
    class="form__control"
    readonly
    [ngClass]="{ 'ng-invalid': control.invalid, 'tab-ignore': isTabIgnored }"
    value="{{ displayedLabel }}"
    (click)="onFocus()"
    (focus)="onFocus()"
  />
  <div class="select-menu__menu-box" [hidden]="!isFocused || isDisabled">
    <ul>
      <li
        *ngIf="allowNull"
        [ngClass]="{ selected: currentIndex === -1 }"
        (click)="onSelect(null)"
        (mouseenter)="onMouseEnter(null)"
      >
        {{ nullText }}
      </li>
      <li
        *ngFor="let value of values"
        [ngClass]="{ selected: currentIndex === values.indexOf(value) }"
        (click)="onSelect(value)"
        (mouseenter)="onMouseEnter(value)"
      >
        {{ value[valueDisplay] }}
      </li>
    </ul>
  </div>
</div>
