<div class="duraform-price-page">
  <app-float-box *ngIf="showBulkActionControl">
    <app-duraform-price-bulk-action
      (apply)="onBulkActionApply($event)"
      (cancel)="showBulkActionControl = false"
    ></app-duraform-price-bulk-action>
  </app-float-box>

  <app-pdf-viewer
    *ngIf="showAllPriceList"
    [documentName]="'Janper-Price-List'"
    (closePanel)="showAllPriceList = false"
  >
    <app-duraform-price-list-pdf
      [finishList]="finishList"
      [serieList]="serieList"
      [priceList]="allPriceGrids"
    ></app-duraform-price-list-pdf>
  </app-pdf-viewer>

  <table
    class="table table--bordered table--hovered duraform-price-page__price-table"
  >
    <thead>
      <tr>
        <th style="width: 12rem">
          <div class="dropdown left" appDropdownBtn>
            <button type="button" class="btn btn--primary">
              Export
              <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown__list">
              <li>
                <a (click)="onViewAll()">
                  <i class="fa fa-university text-blue" aria-hidden="true"></i>
                  View All
                </a>
              </li>
            </ul>
          </div>
        </th>
        <th [colSpan]="widthHeaders.length - 1">
          <div class="duraform-price-page__control-section">
            <div class="form__inline-group">
              <div class="form__label">Finish:</div>
              <select
                class="form__control"
                [(ngModel)]="selectedFinishId"
                (change)="onSelectionChange()"
              >
                <option disabled [value]="null">-- Select Finish --</option>
                <option [ngValue]="0">Route Only</option>
                <option *ngFor="let finish of finishList" [ngValue]="finish.id">
                  {{ finish.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="duraform-price-page__control-section">
            <div class="form__inline-group">
              <div class="form__label">Serie:</div>
              <select
                class="form__control"
                [(ngModel)]="selectedSerieId"
                (change)="onSelectionChange()"
              >
                <option disabled [value]="null">-- Select Serie --</option>
                <option *ngFor="let serie of serieList" [value]="serie.id">
                  {{ serie.name }}
                </option>
              </select>
            </div>
          </div>
        </th>
        <th style="width: 12rem">
          <div class="dropdown" *ngIf="priceGrids" appDropdownBtn>
            <button type="button" class="btn btn--primary">
              Actions
              <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown__list">
              <li>
                <a (click)="onReset()">
                  <i class="fa fa-repeat text-brown" aria-hidden="true"></i>
                  Reset
                </a>
              </li>
              <li>
                <a (click)="showBulkActionControl = true">
                  <i
                    class="fa fa-line-chart text-purple"
                    aria-hidden="true"
                  ></i>
                  Bulk Change
                </a>
              </li>
              <li class="dropdown__divider"></li>
              <li>
                <a (click)="onSave()">
                  <i class="fa fa-floppy-o text-green" aria-hidden="true"></i>
                  Save Data
                </a>
              </li>
            </ul>
          </div>
        </th>
      </tr>
    </thead>
    <thead *ngIf="priceGrids">
      <tr>
        <th style="width: 10rem"></th>
        <th *ngFor="let widthHeader of widthHeaders" style="width: 10rem">
          <b>{{ widthHeader.minWidth }}</b> -
          <b>{{ widthHeader.maxWidth }}</b>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="priceGrids">
      <tr *ngFor="let heightHeader of heightHeaders" appOrderForm>
        <td class="text-left">
          <b>{{ heightHeader.minHeight }}</b> -
          <b>{{ heightHeader.maxHeight }}</b>
        </td>
        <td *ngFor="let widthHeader of widthHeaders">
          <span *ngIf="showBulkActionControl || isReseting">
            {{ getPrice(heightHeader, widthHeader).tempPrice | currency }}
          </span>
          <app-duraform-price-editor
            *ngIf="!showBulkActionControl && !isReseting"
            [priceGrid]="getPrice(heightHeader, widthHeader)"
          ></app-duraform-price-editor>
        </td>
      </tr>
    </tbody>
  </table>
</div>
