<div class="mlp">
  <app-simple-box [heading]="'Machine List'" [height]="'100%'">
    <table class="table table--hovered table--sortable">
      <thead>
        <tr>
          <th style="width: 5rem">ID</th>
          <th style="text-align: left; width: 15rem">Machine Name</th>
          <th style="width: 10rem">Status</th>
          <th style="text-align: left">Description</th>
          <th style="width: 10rem"></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </app-simple-box>
</div>
