<div [formGroup]="filterFg" class="filter-box">
  <div class="row">
    <div class="col-1-4">
      <div class="form__icon-control right filter-box__search">
        <input
          type="text"
          class="form__control"
          placeholder="Search..."
          formControlName="search"
          (keyup)="onSearchKeyUp($event)"
          (input)="onSearchChange()"
        />
        <i
          class="fa fa-times"
          (click)="onSearchKeyUp({ key: 'Escape' })"
          *ngIf="filterFg.get('search').value.trim() !== ''"
        ></i>
      </div>
      <span
        class="filter-box__tip"
        *ngIf="filterFg.get('search').value.trim() !== ''"
      >
        <i>press 'Esc' to clear.</i>
      </span>
    </div>
    <div class="col-3-4 middle">
      <ul class="filter-box__serie-list">
        <li class="serie">
          <label class="form__radio-btn">
            <input
              type="radio"
              formControlName="serie"
              [value]="0"
              (change)="onSerieChange()"
            />
            <span>Popular</span>
          </label>
        </li>
        <li class="serie" *ngFor="let serie of asset.duraformSeries">
          <label class="form__radio-btn">
            <input
              type="radio"
              formControlName="serie"
              [value]="serie.id"
              (change)="onSerieChange()"
            />
            <span>{{ serie.name }}</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
