<div class="filter-box">
  <div class="row">
    <div class="col-1-3">
      <div class="form__icon-control right filter-box__search">
        <input type="text" class="form__control" placeholder="Search..." />
        <i class="fa fa-times"></i>
      </div>
      <span class="filter-box__tip">
        <i>press 'Esc' to clear.</i>
      </span>
    </div>
    <div class="col-2-3 middle">
      <ul class="filter-box__serie-list">
        <li class="serie">
          <label>
            <input name="abc" type="radio" />
            <span>Popular</span>
          </label>
        </li>
        <li class="serie">
          <label>
            <input name="abc" type="radio" />
            <span>Series 1</span>
          </label>
        </li>
        <li class="serie">
          <label>
            <input name="abc" type="radio" />
            <span>Series 2</span>
          </label>
        </li>
        <li class="serie">
          <label>
            <input name="abc" type="radio" />
            <span>Series 3</span>
          </label>
        </li>
        <li class="serie">
          <label>
            <input name="abc" type="radio" />
            <span>Series 4</span>
          </label>
        </li>
        <li class="serie">
          <label>
            <input name="abc" type="radio" />
            <span>Series 5</span>
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
