<table class="table table--bordered">
  <thead>
    <tr>
      <th rowspan="2" style="width: 3rem">#</th>
      <th rowspan="2" style="width: 5rem">Qty.</th>
      <th rowspan="2" style="width: 50rem">Description</th>
      <th rowspan="2" colspan="2">Note</th>
    </tr>
  </thead>
  <app-duraform-misc-form
    appRemoveTag
    (formSubmit)="onAddItem($event)"
  ></app-duraform-misc-form>
  <tbody class="table__spacer" *ngIf="order.duraformMiscs.length > 0">
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  <app-duraform-misc-cart-item
    appRemoveTag
    *ngFor="let misc of order.duraformMiscs.slice().reverse(); let i = index"
    [misc]="misc"
    [index]="order.duraformMiscs.length - i"
    (removeDoor)="onRemoveMisc($event)"
  ></app-duraform-misc-cart-item>
</table>
