<div class="duraform-color-selector" (click)="onWrapperClick($event.target)">
  <div class="container">
    <div class="door">
      <div class="row">
        <div class="col-1-4">
          <div class="door__img-box">
            <div class="door-detail">
              <div class="door-detail__name">{{ design.name }}</div>
              <div class="door-detail__profile-name">
                <span *ngIf="selectedEdgeProfile">
                  {{ selectedEdgeProfile.name }}
                </span>
                <span *ngIf="!selectedEdgeProfile">
                  {{
                    design.fixedEdgeProfileName || design.defaultEdgeProfileName
                  }}
                </span>
              </div>
              <img
                class="door-detail__profile-img"
                src="../../../assets/images/Duraform/Profiles/S{{
                  design.duraformSerieId
                }}/{{ design.imageUrl.replace('.jpg', '.png') }}"
                alt="Duraform Profile - {{ design.name }}"
              />
            </div>
            <img
              class="door-img"
              src="./../../../assets/images/Duraform/Doors/S{{
                design.duraformSerieId
              }}/{{ design.imageUrl }}"
              alt="Duraform Door - {{ design.name }}"
            />
          </div>
        </div>
        <div class="col-3-4" *ngIf="!isSelectingColor">
          <h1 class="heading heading--default">Choose Arch Profile</h1>
          <ul class="arch-list">
            <li class="arch" (click)="onSelectArch(null)">
              <img
                src="./../../../assets/images/Duraform/Arches/square.jpg"
                alt="Arch"
                class="arch__img"
              />
              <span class="arch__name">Square - No Arch</span>
            </li>
            <li
              class="arch"
              *ngFor="let arch of asset.arches"
              (click)="onSelectArch(arch)"
            >
              <img
                src="./../../../assets/images/Duraform/Arches/{{
                  arch.imageUrl
                }}"
                alt="Arch"
                class="arch__img"
              />
              <span class="arch__name">
                {{ arch.name }}
              </span>
            </li>
          </ul>
        </div>
        <div class="col-3-4" [formGroup]="filterFg" *ngIf="isSelectingColor">
          <div class="door__search-box">
            <div class="form__icon-control right door__search-box__search">
              <input
                formControlName="search"
                type="text"
                class="form__control"
                placeholder="Search for colors..."
                (input)="onSearchChange()"
                (keyup)="onSearchClear($event)"
              />
              <i
                class="fa fa-times"
                *ngIf="filterFg.get('search').value.trim() !== ''"
                (click)="onSearchClear({ key: 'Escape' })"
              ></i>
            </div>
            <span
              class="door__search-box__tip"
              *ngIf="filterFg.get('search').value.trim() !== ''"
            >
              <i>press 'Esc' to clear.</i>
            </span>
            <button
              type="button"
              class="btn door__search-box__btn-routing-only"
              (click)="onRoutingOnlyClick()"
            >
              Routing Only
            </button>
          </div>
          <ul class="door__type-list">
            <li class="type" *ngFor="let type of wrapTypes">
              <label class="form__radio-btn left">
                <input
                  type="radio"
                  formControlName="type"
                  [value]="type.id"
                  (change)="onTypeChange()"
                />
                <span>{{ type.name }}</span>
              </label>
            </li>
          </ul>
          <div class="door__color-box">
            <app-color-card
              *ngFor="let color of wrapColors"
              [showType]="filterFg.get('search').value.trim() !== ''"
              [hidden]="hideColor(color)"
              [color]="color"
              (pick)="onPickColor($event)"
            ></app-color-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
