<div class="component-box">
  <div class="title">Pantry Doors</div>
  <table>
    <thead>
      <tr>
        <th style="width: 70px">qty</th>
        <th style="width: 110px">height</th>
        <th style="width: 110px">width</th>
        <th style="width: 140px">CR Height</th>
        <th style="width: 120px">CR Type</th>
        <th style="width: 150px">CR Bottom</th>
        <th style="text-align: center; width: 35px">t</th>
        <th style="text-align: center; width: 35px">b</th>
        <th style="text-align: center; width: 35px">l</th>
        <th style="text-align: center; width: 35px">r</th>
        <th style="padding-left: 10px">option</th>
        <th style="padding-left: 10px; width: 190px">Hinge Hole</th>
        <th style="padding-left: 10px; width: 100px">routed</th>
        <th style="padding-left: 10px; width: 100px">cleaned</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pantryDoors">
        <td>{{ item.quantity }}</td>
        <td>{{ item.height }}</td>
        <td>{{ item.width }}</td>
        <td>{{ item.chairRailHeight }}</td>
        <td>{{ getChairRailType(item.chairRailTypeId).name }}</td>
        <td>{{ item.extraRailBottom }}</td>
        <td style="text-align: center">
          {{ item.top ? "Y" : null }}
        </td>
        <td style="text-align: center">
          {{ item.bottom ? "Y" : null }}
        </td>
        <td style="text-align: center">
          {{ item.left ? "Y" : null }}
        </td>
        <td style="text-align: center">
          {{ item.right ? "Y" : null }}
        </td>
        <td style="padding-left: 10px">
          {{ item.duraformOption?.toString() }}
        </td>
        <td style="padding-left: 10px">
          {{ item.hingeHoleOption?.toString() }}
        </td>
        <td style="padding-left: 10px">
          <div class="checkbox"></div>
        </td>
        <td style="padding-left: 10px">
          <div class="checkbox"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
