<div class="component-table">
  <div class="title">Pantry Doors</div>
  <table>
    <thead>
      <tr>
        <th class="qty">qty</th>
        <th class="height">height</th>
        <th class="width">width</th>
        <th class="cr-height">CR Height</th>
        <th class="cr-type">CR Type</th>
        <th class="cr-bottom">CR Bottom</th>
        <th class="side">t</th>
        <th class="side">b</th>
        <th class="side">l</th>
        <th class="side">r</th>
        <th class="option">option</th>
        <th class="hinge-hole">Hinge Hole</th>
        <th class="checkbox">routed</th>
        <th class="checkbox">cleaned</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pantryDoors">
        <td>{{ item.quantity }}</td>
        <td>{{ item.height }}</td>
        <td>{{ item.width }}</td>
        <td>{{ item.chairRailHeight }}</td>
        <td>{{ item.chairRailType.name }}</td>
        <td>{{ item.extraRailBottom }}</td>
        <td style="text-align: center">
          {{ item.top ? "Y" : null }}
        </td>
        <td style="text-align: center">
          {{ item.bottom ? "Y" : null }}
        </td>
        <td style="text-align: center">
          {{ item.left ? "Y" : null }}
        </td>
        <td style="text-align: center">
          {{ item.right ? "Y" : null }}
        </td>
        <td style="padding-left: 10px">
          {{ item.duraformOption?.toString() }}
        </td>
        <td style="padding-left: 10px">
          {{ item.hingeHoleOption?.toString() }}
        </td>
        <td style="padding-left: 10px">
          <div class="checkbox"></div>
        </td>
        <td style="padding-left: 10px">
          <div class="checkbox"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
