$text-default: rgba(0, 0, 0, 0.6);

$grey-primary: #f9fafb;
$brown-primary: #795548;
$orange-primary: #ff5722;
$blue-primary: #0061a0;
$red-primary: #ec092b;
$green-primary: #25a92a;
$yellow-primary: #ffe500;
$cyan-primary: #00bcd4;
