<tbody class="form__order-form-group">
  <tr appOrderForm [formGroup]="formGroup" (submit)="onSubmit()">
    <td style="color: #ec092b">
      <i class="fa fa-hand-o-right" aria-hidden="true"></i>
    </td>
    <app-duraform-door-basic-input
      appRemoveTag
      [formGroup]="formGroup"
    ></app-duraform-door-basic-input>
    <td>
      <input
        class="form__control"
        currencyMask
        appSelectOnFocus
        formControlName="chairRailHeight"
        [options]="{
          align: 'center',
          allowZero: false,
          precision: '0',
          decimal: '',
          prefix: '',
          thousands: '',
          max: 2500
        }"
      />
    </td>
    <td>
      <app-select-menu
        [control]="formGroup.get('chairRailTypeId')"
        [values]="asset.pantryDoorChairRailTypes"
        [valueKey]="'id'"
        [valueDisplay]="'name'"
      ></app-select-menu>
    </td>
    <td>
      <input
        class="form__control"
        currencyMask
        appSelectOnFocus
        formControlName="extraRailBottom"
        [options]="{
          align: 'center',
          allowZero: false,
          precision: '0',
          decimal: '',
          prefix: '',
          thousands: '',
          max: 500
        }"
      />
    </td>
    <app-edge-profile-form-control
      appRemoveTag
      [formGroup]="formGroup"
    ></app-edge-profile-form-control>
    <td>
      <app-duraform-option-selector
        appRemoveTag
        [hideOptionTypeKeys]="[
          optionTypeKeyEnum.NoFaceRoute,
          optionTypeKeyEnum.PaneFrame,
          optionTypeKeyEnum.MicrowaveFrame,
          optionTypeKeyEnum.RollerShutter
        ]"
        [formGroup]="formGroup"
      ></app-duraform-option-selector>
    </td>
    <td>
      <app-hinge-hole-selector
        *ngIf="order.hingeHoleTypeId"
        [formGroup]="formGroup"
      ></app-hinge-hole-selector>
    </td>
    <td>
      <input
        type="text"
        class="form__control"
        style="text-align: left; width: 99%"
        appSelectOnFocus
        formControlName="note"
      />
    </td>
    <td style="width: 5rem">
      <button
        [disabled]="formGroup.invalid"
        type="button"
        class="btn btn--primary"
        style="padding: 0.5rem 1rem"
        (click)="onSubmit()"
      >
        <i class="fa fa-save"></i>
      </button>
    </td>
  </tr>
</tbody>
