<div class="duraform-door" (click)="onSelectDoor()">
  <div class="duraform-door__img-box">
    <div class="img-loader" *ngIf="isLoadingImg">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
    <img
      [hidden]="isLoadingImg"
      src="../../../assets/images/Duraform/Doors/S{{ door.duraformSerieId }}/{{
        door.imageUrl
      }}"
      alt="Duraform Door - {{ door.name }}"
      (load)="this.isLoadingImg = false"
    />
  </div>
  <div class="duraform-door__control-box">
    <div class="duraform-door__control-box__door-name">{{ door.name }}</div>
    <div class="duraform-door__control-box__profile-name">
      {{ door.fixedEdgeProfileName || door.defaultEdgeProfileName }}
    </div>
    <img
      class="duraform-door__control-box__profile-img"
      src="../../../assets/images/Duraform/Profiles/S{{
        door.duraformSerieId
      }}/{{ door.imageUrl.replace('.jpg', '.png') }}"
      alt="Duraform Profile - {{ door.name }}"
    />
  </div>
</div>
