<div class="duraform-door">
  <div class="duraform-door__img-box">
    <div class="img-loader" *ngIf="isLoadingImg">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
    <img
      [hidden]="isLoadingImg"
      src="../../../assets/images/Duraform/Doors/S{{ door.duraformSerieId }}/{{
        door.imageUrl
      }}"
      alt="Duraform Door - {{ door.name }}"
      (load)="this.isLoadingImg = false"
    />
  </div>
  <div class="duraform-door__control-box">
    <div class="duraform-door__control-box__door-name">{{ door.name }}</div>
    <div class="duraform-door__control-box__profile-name">
      6mm Pencil Round
    </div>
    <img
      src="../../../assets/images/Duraform/Profiles/S1/series-one-bass-tech_300px.png"
      alt="6mm Pencil Round"
      class="duraform-door__control-box__profile-img"
    />
  </div>
</div>
