<div class="duraform-door" appRemoveWrapper>
  <div class="duraform-door__img-box">
    <img
      src="../../../assets/images/Duraform/Doors/S1/Bass.jpg"
      alt="Duraform Door - Bass"
    />
  </div>
  <div class="duraform-door__control-box">
    <div class="duraform-door__control-box__door-name">Bass</div>
    <div class="duraform-door__control-box__profile-name">
      6mm Pencil Round
    </div>
    <img
      src="../../../assets/images/Duraform/Profiles/S1/series-one-bass-tech_300px.png"
      alt="6mm Pencil Round"
      class="duraform-door__control-box__profile-img"
    />
    <div class="duraform-door__color-btn">
      <i class="fa fa-shopping-cart"></i>
    </div>
  </div>
</div>
