.duraform-page {
  @include no-user-select;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  max-height: 100%;

  .filter-box {
    margin-bottom: 2rem;

    &__search {
      display: inline-block;
    }

    &__tip {
      margin-left: 2rem;
    }

    &__serie-list {
      list-style: none;
      text-align: right;

      .serie {
        display: inline-block;

        &:not(:first-child) {
          margin-left: 10rem;
        }
      }
    }
  }
}
