.duraform-price-page {
  &__control-section {
    float: left;
    margin-left: 2rem;
    width: 30rem;
  }

  &__price-table {
    tbody {
      td {
        padding: 1rem;
      }
    }

    .dropdown {
      &__list {
        color: $text-default;
        text-align: left;
        top: 125%;
        width: calc(100% + 10rem);
      }
    }

    @media print {
      display: none;
    }
  }
}
