.duraform-page {
  @include no-user-select;

  .filter-box {
    margin-bottom: 2rem;

    &__search {
      display: inline-block;
    }

    &__tip {
      margin-left: 2rem;
    }

    &__serie-list {
      list-style: none;
      text-align: right;

      .serie {
        display: inline-block;

        &:not(:first-child) {
          margin-left: 10rem;
        }
      }
    }
  }

  .duraform-door-list {
    @include clear-both;

    & > app-duraform-door {
      &:not(:first-child) {
        .duraform-door {
          margin-left: $duraform-door-gap;
        }
      }

      &:nth-child(#{$duraform-per-row}n + #{$duraform-per-row + 1}) {
        .duraform-door {
          margin-left: 0;
        }
      }
    }
  }
}
