<div class="delivery-page">
  <app-float-box *ngIf="showRunSheetForm" [width]="70">
    <app-run-sheet-form
      [selectedSheet]="selectedSheet"
      [runSheets]="runSheets"
      (printBtnClick)="onPrintClick($event)"
      (closeBtnClick)="onCloseSheetForm()"
    ></app-run-sheet-form>
  </app-float-box>
  <app-float-box *ngIf="selectedSheet && showControlBox" [width]="30">
    <div class="control-box">
      <div class="control-box__header">
        Run Sheet - RS{{ selectedSheet.id | leading }}
        <button
          class="btn control-box__btn-close"
          (click)="onCloseControlBox()"
        >
          <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>
      </div>
      <div class="control-box__body">
        <button
          class="btn control-box__action control-box__action--primary"
          (click)="showControlBox = false; showRunSheetForm = true"
        >
          <i class="fa fa-info-circle" aria-hidden="true"></i>
          View Details
        </button>
        <button
          class="btn control-box__action control-box__action--primary"
          (click)="showControlBox = false; showRunSheetPdf = true"
        >
          <i class="fa fa-print" aria-hidden="true"></i>
          Print Sheet
        </button>
        <div class="divider"></div>
        <button
          class="btn control-box__action control-box__action--secondary"
          (click)="onConfirmDelivery()"
        >
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          Confirm Delivery
        </button>
      </div>
    </div>
  </app-float-box>
  <app-pdf-viewer *ngIf="showRunSheetPdf" (closePanel)="onCloseRunSheetPdf()">
    <app-run-sheet-pdf [sheetId]="selectedSheet.id"></app-run-sheet-pdf>
  </app-pdf-viewer>
  <app-pdf-viewer
    *ngIf="scannedEnquiryId"
    [documentName]="'Delivery-Docket'"
    (closePanel)="scannedEnquiryId = null; canScan = true"
  >
    <app-delivery-docket [enquiryId]="scannedEnquiryId"></app-delivery-docket>
  </app-pdf-viewer>
  <div class="delivery-page__content">
    <app-simple-box [heading]="'Delivery Run Sheets'">
      <div class="delivery-page__header">
        <button
          class="btn btn--primary"
          *ngIf="authService.isInRole(role[role.Driver])"
          (click)="selectedSheet = null; showRunSheetForm = true"
        >
          <i class="fa fa-plus-circle" aria-hidden="true"></i>
          Create Run Sheet
        </button>
      </div>
      <div class="delivery-page__body">
        <table class="table table--hovered table--left">
          <thead>
            <tr>
              <th class="text-center" style="width: 6rem">Status</th>
              <th class="text-center" style="width: 9rem">Sheet No.</th>
              <th style="width: 12rem">
                <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                Created On
              </th>
              <th style="width: 12rem">
                <i class="fa fa-clock-o" aria-hidden="true"></i>
                Time At
              </th>
              <th>Driver Name</th>
              <th class="text-center" style="width: 12rem">Order Count</th>
              <th class="text-center" style="width: 15rem">
                <i class="fa fa-lock" aria-hidden="true"></i>
                Locked Date
              </th>
              <th style="width: 12rem"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sheet of runSheets">
              <td class="text-center">
                <i
                  *ngIf="sheet.lockedDate"
                  class="fa fa-lock text-alert"
                  aria-hidden="true"
                ></i>
              </td>
              <td class="text-center" (click)="onSelectSheet(sheet)">
                {{ sheet.getBarcodePrefix() }}{{ sheet.id | leading }}
              </td>
              <td (click)="onSelectSheet(sheet)">
                {{ sheet.createdDate | date: "dd/MM/yyyy" }}
              </td>
              <td (click)="onSelectSheet(sheet)">
                {{ sheet.createdDate | date: "hh:mm" }}
              </td>
              <td (click)="onSelectSheet(sheet)">
                {{ sheet.driver.fullName }}
              </td>
              <td class="text-center" (click)="onSelectSheet(sheet)">
                {{ sheet.enquiriesForRunSheet.length }}
              </td>
              <td class="text-center" (click)="onSelectSheet(sheet)">
                <span *ngIf="sheet.lockedDate">
                  {{ sheet.lockedDate | date: "dd/MM/yyyy hh:mm" }}
                </span>
                <span *ngIf="!sheet.lockedDate">-- : --</span>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="delivery-page__footer"></div>
    </app-simple-box>
  </div>
</div>
