<div class="panel">
  <div class="panel__heading">DRAWERS</div>
  <div class="panel__content">
    <table class="table table--component-list">
      <thead>
        <tr>
          <th rowspan="2" style="width: 3rem">#</th>
          <th rowspan="2" style="width: 4rem">Qty</th>
          <th rowspan="2" style="width: 6rem">Height</th>
          <th rowspan="2" style="width: 6rem">Width</th>
          <th rowspan="2" style="width: 6rem">No Drawers</th>
          <th rowspan="2" style="width: 22rem">Drawer Type</th>
          <th rowspan="2" style="width: 20rem">Edge Profile</th>
          <th colspan="4">'X' For Square Edge</th>
          <th rowspan="2" style="width: 8rem">
            Drill <br />
            Fronts
          </th>
          <th rowspan="2" style="width: 8rem">Gap</th>
          <th colspan="5">Drawer Size</th>
          <th rowspan="2">Note</th>
          <th rowspan="2" style="width: 8rem">Price</th>
        </tr>
        <tr>
          <th style="width: 4rem">T</th>
          <th style="width: 4rem">B</th>
          <th style="width: 4rem">L</th>
          <th style="width: 4rem">R</th>
          <th style="width: 6rem">1</th>
          <th style="width: 6rem">2</th>
          <th style="width: 6rem">3</th>
          <th style="width: 6rem">4</th>
          <th style="width: 6rem">5</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let drawer of duraformDrawers; let i = index">
          <td class="line-number">{{ i + 1 }}</td>
          <td>{{ drawer.quantity }}</td>
          <td>{{ drawer.height }}</td>
          <td>{{ drawer.width }}</td>
          <td>{{ drawer.numberOfDrawers }}</td>
          <td class="text-left">
            {{ asset.getDrawerType(drawer.duraformDrawerTypeId).name }}
          </td>
          <td class="text-left">
            {{ asset.getEdgeProfile(drawer.duraformEdgeProfileId).name }}
          </td>
          <td>{{ drawer.top ? "Y" : null }}</td>
          <td>{{ drawer.bottom ? "Y" : null }}</td>
          <td>{{ drawer.left ? "Y" : null }}</td>
          <td>{{ drawer.right ? "Y" : null }}</td>
          <td>{{ drawer.hasDrillFronts ? "YES" : "NO" }}</td>
          <td>{{ drawer.drawerGap }}mm</td>
          <td>{{ drawer.drawerOne === 0 ? "" : drawer.drawerOne }}</td>
          <td>{{ drawer.drawerTwo === 0 ? "" : drawer.drawerTwo }}</td>
          <td>{{ drawer.drawerThree === 0 ? "" : drawer.drawerThree }}</td>
          <td>{{ drawer.drawerFour === 0 ? "" : drawer.drawerFour }}</td>
          <td>{{ drawer.drawerFive === 0 ? "" : drawer.drawerFive }}</td>
          <td class="text-left">{{ drawer.note }}</td>
          <td class="text-right">{{ drawer.subTotal | currency }}</td>
        </tr>
      </tbody>
      <tbody class="subtotal">
        <tr>
          <td colspan="19" class="subtotal__header">
            <b>Subtotal</b>
          </td>
          <td class="text-right">
            {{ duraformDrawers | arraySum: "subTotal" | currency }}
          </td>
        </tr>
        <tr>
          <td colspan="19" class="subtotal__header">
            <b>Discount ({{ duraformEnquiry.discountRate }}%)</b>
          </td>
          <td class="text-right">
            - {{ duraformDrawers | arraySum: "totalDiscount" | currency }}
          </td>
        </tr>
        <tr>
          <td class="line-number">
            <i class="fa fa-calculator" aria-hidden="true"></i>
          </td>
          <td>{{ duraformDrawers | arraySum: "quantity" }}</td>
          <td colspan="17" class="subtotal__header">Total Price</td>
          <td class="subtotal__price">
            {{ duraformDrawers | arraySum: "totalPrice" | currency }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
