<div class="hinge-hole-selector">
  <div class="form__input-btn">
    <button
      [disabled]="!selectedStyle"
      type="button"
      class="btn btn--primary"
      style="padding: 0.5rem 1rem"
      (click)="showStyleList = true; showOptionForm = false"
    >
      <i class="fa fa-edit"></i>
    </button>
    <input
      #mainInput
      type="text"
      class="form__control"
      readonly
      (keydown)="onMainInputTab($event)"
      (click)="onInputFocus()"
      (focus)="onInputFocus()"
    />
  </div>
  <div class="container" [hidden]="!showStyleList || showOptionForm">
    <ul class="type-list">
      <li *ngIf="selectedStyle" (click)="onSelectOption(null)">
        No Hinge Hole
      </li>
      <li
        *ngFor="let style of asset.hingeHoleStyles"
        (click)="onSelectOption(style)"
      >
        {{ style.name }}
      </li>
    </ul>
  </div>
  <div
    class="container"
    *ngIf="selectedStyle"
    [hidden]="!showOptionForm || showStyleList"
  >
    <div class="option-form">
      <app-hinge-hole-option-side-form
        #optionForm
        *ngIf="selectedStyle.id === styleEnum.Side"
        [formGroup]="formGroup"
        (valueChange)="onUpdateMainInput($event)"
      ></app-hinge-hole-option-side-form>
      <app-hinge-hole-option-draw-form
        #optionForm
        *ngIf="selectedStyle.id === styleEnum.Draw"
        [formGroup]="formGroup"
        (valueChange)="onUpdateMainInput($event)"
      ></app-hinge-hole-option-draw-form>
      <app-hinge-hole-option-corner-door-form
        #optionForm
        *ngIf="selectedStyle.id === styleEnum.CornerDoor"
        [formGroup]="formGroup"
        (valueChange)="onUpdateMainInput($event)"
      ></app-hinge-hole-option-corner-door-form>
      <app-hinge-hole-option-corner-blank-form
        #optionForm
        *ngIf="selectedStyle.id === styleEnum.CornerBlank"
        [formGroup]="formGroup"
        (valueChange)="onUpdateMainInput($event)"
      ></app-hinge-hole-option-corner-blank-form>
    </div>
  </div>
</div>
