<td>
  <app-select-menu
    [control]="formGroup.get('duraformEdgeProfileId')"
    [values]="asset.edgeProfiles"
    [valueDisplay]="'name'"
    [valueKey]="'id'"
    [isDisabled]="order.hasFixedEdgeProfile"
    (afterSet)="onSelectEdgeProfile()"
  ></app-select-menu>
</td>
<td>
  <span [hidden]="order.canTickEdgeProfile">Y</span>
  <label class="form__checkbox" *ngIf="order.canTickEdgeProfile">
    <input
      type="checkbox"
      [formControl]="formGroup.get('top')"
      (change)="onEdgeTickChange()"
    />
    <span></span>
  </label>
</td>
<td>
  <span [hidden]="order.canTickEdgeProfile">Y</span>
  <label class="form__checkbox" *ngIf="order.canTickEdgeProfile">
    <input
      type="checkbox"
      [formControl]="formGroup.get('bottom')"
      (change)="onEdgeTickChange()"
    />
    <span></span>
  </label>
</td>
<td>
  <span [hidden]="order.canTickEdgeProfile">Y</span>
  <label class="form__checkbox" *ngIf="order.canTickEdgeProfile">
    <input
      type="checkbox"
      [formControl]="formGroup.get('left')"
      (change)="onEdgeTickChange()"
    />
    <span></span>
  </label>
</td>
<td>
  <span [hidden]="order.canTickEdgeProfile">Y</span>
  <label class="form__checkbox" *ngIf="order.canTickEdgeProfile">
    <input
      type="checkbox"
      [formControl]="formGroup.get('right')"
      (change)="onEdgeTickChange()"
    />
    <span></span>
  </label>
</td>
