<div
  class="duraform-option-fold-back-form option-form__form-wrapper"
  [formGroup]="formGroup.get('optionGroup')"
>
  <div class="form__group" style="display: flex;">
    <label class="form__radio-btn" style="flex: 1;">
      <input
        type="radio"
        formControlName="hasProfile"
        [value]="false"
        (change)="onValueChange()"
      />
      <span>No Profile</span>
    </label>
    <label class="form__radio-btn" style="flex: 1;">
      <input
        type="radio"
        formControlName="hasProfile"
        [value]="true"
        (change)="onValueChange()"
      />
      <span>With Profile</span>
    </label>
  </div>
  <div class="row">
    <div class="col-1-2">
      <div class="form__group">
        <label class="form__label">Return Length</label>
        <app-select-menu
          [control]="formGroup.get('optionGroup').get('length')"
          [values]="foldBackLengths"
          [valueDisplay]="'text'"
          [valueKey]="'value'"
          (afterSet)="onValueChange()"
        ></app-select-menu>
      </div>
    </div>
    <div class="col-1-2">
      <div class="form__group">
        <label class="form__label">Thickness</label>
        <app-select-menu
          [control]="formGroup.get('optionGroup').get('thickness')"
          [values]="thicknesses"
          [valueDisplay]="'text'"
          [valueKey]="'value'"
          (afterSet)="onValueChange()"
        ></app-select-menu>
      </div>
    </div>
  </div>
  <div class="form__group">
    <label class="form__label">Folding Type</label>
    <app-select-menu
      [control]="formGroup.get('optionGroup').get('hasDoubleReturn')"
      [values]="foldBackTypes"
      [valueDisplay]="'text'"
      [valueKey]="'value'"
      (afterSet)="onValueChange()"
    ></app-select-menu>
  </div>
</div>
