<app-duraform-door-form
  #doorForm
  appRemoveTag
  *ngIf="isSelected"
  [door]="door"
  (formSubmit)="onEdit($event)"
></app-duraform-door-form>
<tbody
  class="duraform-order-step-two__cart-list-item"
  [ngClass]="{ animated: !hasAnimated }"
  [hidden]="isSelected"
  (click)="onSelect()"
>
  <tr>
    <td>{{ door.quantity }}</td>
    <td>{{ door.height }}</td>
    <td>{{ door.width }}</td>
    <td class="text-left" style="padding-left: 1rem; padding-right: 1rem;">
      {{ asset.getEdgeProfile(door.duraformEdgeProfileId).name | uppercase }}
    </td>
    <td>{{ door.top ? "Y" : "" }}</td>
    <td>{{ door.bottom ? "Y" : "" }}</td>
    <td>{{ door.left ? "Y" : "" }}</td>
    <td>{{ door.right ? "Y" : "" }}</td>
    <td class="text-left" style="padding-left: 1rem; padding-right: 1rem;">
      {{ door.duraformOption?.toString() | uppercase }}
    </td>
    <td>
      {{ door.hingeHoleOption?.toString() }}
    </td>
    <td class="text-left" style="padding-left: 1rem; padding-right: 1rem;">
      {{ door.note }}
    </td>
    <td style="width: 5rem;">
      <button
        type="button"
        class="btn btn--secondary"
        style="padding: 0.5rem 1rem;"
        (click)="onRemove()"
      >
        <i class="fa fa-trash"></i>
      </button>
    </td>
  </tr>
</tbody>
