<app-duraform-drawer-form
  appRemoveTag
  #duraformDrawerForm
  *ngIf="isSelected"
  [duraformDrawer]="duraformDrawer"
  (formSubmit)="onEdit($event)"
></app-duraform-drawer-form>
<tbody
  class="duraform-order-step-two__cart-list-item"
  [ngClass]="{ animated: !hasAnimated }"
  [hidden]="isSelected"
  (click)="onSelect()"
>
  <tr>
    <td class="line-number">{{ index }}</td>
    <td>{{ duraformDrawer.quantity }}</td>
    <td>{{ duraformDrawer.height }}</td>
    <td>{{ duraformDrawer.width }}</td>
    <td>{{ duraformDrawer.numberOfDrawers }}</td>
    <td class="text-left" style="padding-left: 1rem; padding-right: 1rem">
      {{
        asset.getDrawerType(duraformDrawer.duraformDrawerTypeId).name
          | uppercase
      }}
    </td>
    <td class="text-left" style="padding-left: 1rem; padding-right: 1rem">
      {{
        asset.getEdgeProfile(duraformDrawer.duraformEdgeProfileId).name
          | uppercase
      }}
    </td>
    <td>{{ duraformDrawer.top ? "X" : "" }}</td>
    <td>{{ duraformDrawer.bottom ? "X" : "" }}</td>
    <td>{{ duraformDrawer.left ? "X" : "" }}</td>
    <td>{{ duraformDrawer.right ? "X" : "" }}</td>
    <td>{{ duraformDrawer.hasDrillFronts ? "YES" : "NO" }}</td>
    <td>{{ duraformDrawer.drawerOne }}</td>
    <td>{{ duraformDrawer.drawerTwo }}</td>
    <td>{{ duraformDrawer.drawerThree }}</td>
    <td>{{ duraformDrawer.drawerFour }}</td>
    <td>{{ duraformDrawer.drawerFive }}</td>
    <td class="text-left" style="padding-left: 1rem; padding-right: 1rem">
      {{ duraformDrawer.note }}
    </td>
    <td>{{ duraformDrawer.price | currency }}</td>
    <td style="width: 5rem">
      <button
        type="button"
        class="btn btn--secondary"
        style="padding: 0.5rem 1rem"
        (click)="onRemove()"
      >
        <i class="fa fa-trash"></i>
      </button>
    </td>
  </tr>
</tbody>
