<app-duraform-drawer-form
  appRemoveTag
  #duraformDrawerForm
  *ngIf="isSelected"
  [duraformDrawer]="duraformDrawer"
  [duraformDrawerTypes]="duraformDrawerTypes"
  (formSubmit)="onEdit($event)"
></app-duraform-drawer-form>
<tr
  class="duraform-order-step-two__cart-list-item"
  [ngClass]="{ animated: !hasAnimated }"
  [hidden]="isSelected"
  (click)="onSelect()"
>
  <td>{{ duraformDrawer.quantity }}</td>
  <td class="text-left" style="padding-left: 1rem; padding-right: 1rem;">
    {{ duraformDrawer.duraformDrawerType.name }}
  </td>
  <td>{{ duraformDrawer.height }}</td>
  <td>{{ duraformDrawer.width }}</td>
  <td>{{ duraformDrawer.top ? "Y" : "" }}</td>
  <td>{{ duraformDrawer.bottom ? "Y" : "" }}</td>
  <td>{{ duraformDrawer.left ? "Y" : "" }}</td>
  <td>{{ duraformDrawer.right ? "Y" : "" }}</td>
  <td>{{ duraformDrawer.drawerOne }}</td>
  <td>{{ duraformDrawer.drawerTwo }}</td>
  <td>{{ duraformDrawer.drawerThree }}</td>
  <td>{{ duraformDrawer.drawerFour }}</td>
  <td>{{ duraformDrawer.drawerFive }}</td>
  <td class="text-left" style="padding-left: 1rem; padding-right: 1rem;">
    {{ duraformDrawer.note }}
  </td>
  <td style="width: 5rem;">
    <button
      type="button"
      class="btn btn--secondary"
      style="padding: 0.5rem 1rem;"
      (click)="onRemove()"
    >
      <i class="fa fa-trash"></i>
    </button>
  </td>
</tr>
