<table class="table table--bordered">
  <thead>
    <tr>
      <th rowspan="2" style="width: 5rem;">Qty.</th>
      <th rowspan="2" style="width: 9rem;">
        O/A <br />
        Height
      </th>
      <th rowspan="2" style="width: 9rem;">
        O/A <br />
        Width
      </th>
      <th rowspan="2" style="width: 9rem;">
        Chair Rail <br />
        Height
      </th>
      <th rowspan="2" style="width: 11rem;">
        Chair Rail <br />
        Type
      </th>
      <th rowspan="2" style="width: 11rem;">
        Extra Rail <br />
        Bottom
      </th>
      <th rowspan="2" style="width: 20rem;">
        Edge Profile
      </th>
      <th colspan="4">'X' For Square Edge</th>
      <th rowspan="2" style="width: 35rem;">
        Option <br />
        (eg. No Face, Fold Back, ...)
      </th>
      <th rowspan="2" style="width: 15rem;">
        Hinge Hole
      </th>
      <th rowspan="2" colspan="2">Note</th>
    </tr>
    <tr>
      <th style="width: 4rem;">T</th>
      <th style="width: 4rem;">B</th>
      <th style="width: 4rem;">L</th>
      <th style="width: 4rem;">R</th>
    </tr>
  </thead>
  <app-pantry-door-form
    appRemoveTag
    (formSubmit)="onAddPantryDoor($event)"
  ></app-pantry-door-form>
  <tbody class="table__spacer" *ngIf="order.pantryDoors.length > 0">
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  <app-pantry-door-cart-item
    appRemoveTag
    *ngFor="let pantryDoor of order.pantryDoors"
    [pantryDoor]="pantryDoor"
    (removePantryDoor)="onRemovePantryDoor($event)"
  ></app-pantry-door-cart-item>
</table>
