<div class="color-card" (click)="this.pick.emit(this.color)">
  <div class="color-card__img-box">
    <div class="img-loader" *ngIf="isLoadingImage">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
    <img
      src="./../../../assets/images/Duraform/Colours/{{
        color.duraformWrapTypeId
      }}/{{ color.imageUrl }}"
      alt="{{ color.name }}"
      (load)="isLoadingImage = false"
    />
  </div>
  <div class="color-card__type-name" *ngIf="showType">
    {{ color.duraformWrapType.name }}
  </div>
  <div class="color-card__name">
    {{ color.name }}
  </div>
</div>
