<div class="panel">
  <div class="panel__heading">MISC</div>
  <div class="panel__content">
    <table class="table table--component-list">
      <thead>
        <tr>
          <th rowspan="2" style="width: 3rem">#</th>
          <th rowspan="2" style="width: 4rem">Qty</th>
          <th rowspan="2" style="width: 50rem">Description</th>
          <th rowspan="2">Note</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let miscItem of duraformMiscs; let i = index">
          <td class="line-number">{{ i + 1 }}</td>
          <td>{{ miscItem.quantity }}</td>
          <td class="text-left">
            {{ asset.getMiscItem(miscItem.miscItemId)?.name }}
          </td>
          <td class="text-left">{{ miscItem.note }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
