<div class="panel">
  <div class="panel__heading">Miscellaneous</div>
  <div class="panel__content">
    <table class="table table--component-list">
      <thead>
        <tr>
          <th style="width: 3rem">#</th>
          <th style="width: 4rem">Qty</th>
          <th class="text-left">Description</th>
          <th style="width: 10rem">Unit Price</th>
          <th style="width: 10rem">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let miscItem of miscComponents; let i = index">
          <td class="line-number">{{ i + 1 }}</td>
          <td>{{ miscItem.quantity }}</td>
          <td class="text-left">{{ miscItem.toString() }}</td>
          <td class="text-right">
            <span *ngIf="!canEditPrice">
              {{ miscItem.unitPrice | currency }}
            </span>
            <app-object-editor
              *ngIf="canEditPrice"
              [object]="miscItem"
              [property]="'unitPrice'"
              [isRequired]="true"
              (afterSet)="duraformEnquiry.calculatePrice(false)"
            ></app-object-editor>
          </td>

          <td class="text-right">{{ miscItem.subTotal | currency }}</td>
        </tr>
      </tbody>
      <tbody class="subtotal">
        <tr>
          <td colspan="4" class="subtotal__header">
            <b>Subtotal</b>
          </td>
          <td class="text-right">
            {{ getSum("subTotal") | currency }}
          </td>
        </tr>
        <tr>
          <td colspan="4" class="subtotal__header">
            <b>Discount ({{ duraformEnquiry.discountRate }}%)</b>
          </td>
          <td class="text-right">- {{ getSum("totalDiscount") | currency }}</td>
        </tr>
        <tr>
          <td class="line-number">
            <i class="fa fa-calculator" aria-hidden="true"></i>
          </td>
          <td>{{ totalQuantity }}</td>
          <td colspan="2" class="subtotal__header">Total Price</td>
          <td class="subtotal__price">
            {{ getSum("totalPrice") | currency }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
