<div class="panel">
  <div class="panel__heading">DOORS & PANELS</div>
  <div class="panel__content">
    <table class="table table--component-list">
      <thead>
        <tr>
          <th rowspan="2" style="width: 3rem">#</th>
          <th rowspan="2" style="width: 4rem">Qty</th>
          <th rowspan="2" style="width: 6rem">Height</th>
          <th rowspan="2" style="width: 6rem">Width</th>
          <th colspan="4">'X' For Square Edge</th>
          <th rowspan="2" style="width: 26rem">Option</th>
          <th rowspan="2" style="width: 20rem">Edge Profile</th>
          <th rowspan="2" style="width: 15rem">Hinge Hole</th>
          <th rowspan="2">Note</th>
        </tr>
        <tr>
          <th style="width: 4rem">T</th>
          <th style="width: 4rem">B</th>
          <th style="width: 4rem">L</th>
          <th style="width: 4rem">R</th>
        </tr>
      </thead>
      <tbody *ngIf="isLoading">
        <tr>
          <td colspan="11" class="text-center">
            <i>Loading... </i>
            <i class="fa fa-spinner fa-spin"></i>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!isLoading && hasError">
        <tr>
          <td colspan="11" class="text-center text-alert">
            {{ errorMessage }}
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!isLoading && !hasError">
        <tr *ngFor="let door of duraformDoors; let i = index">
          <td class="line-number">{{ i + 1 }}</td>
          <td>{{ door.quantity }}</td>
          <td>{{ door.height }}</td>
          <td>{{ door.width }}</td>
          <td>{{ door.top ? "Y" : null }}</td>
          <td>{{ door.bottom ? "Y" : null }}</td>
          <td>{{ door.left ? "Y" : null }}</td>
          <td>{{ door.right ? "Y" : null }}</td>
          <td class="text-left">{{ door.duraformOption?.toString() }}</td>
          <td class="text-left">
            {{ getEdgeProfile(door.duraformEdgeProfileId).name }}
          </td>
          <td>
            {{ door.hingeHoleOption?.toString() }}
          </td>
          <td class="text-left">{{ door.note }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
