<app-end-panel-form
  #endPanelForm
  *ngIf="isSelected"
  appRemoveTag
  [endPanel]="endPanel"
  [wrappingOptions]="wrappingOptions"
  (formSubmit)="onEdit($event)"
></app-end-panel-form>
<tr
  class="duraform-order-step-two__cart-list-item"
  [ngClass]="{ animated: !hasAnimated }"
  [hidden]="isSelected"
  (click)="onSelect()"
>
  <td>{{ endPanel.quantity }}</td>
  <td>{{ endPanel.numberOfShields }}</td>
  <td>{{ endPanel.height }}</td>
  <td>{{ endPanel.width }}</td>
  <td>{{ endPanel.extraRailTop }}</td>
  <td>{{ endPanel.extraRailBottom }}</td>
  <td>{{ endPanel.extraRailLeft }}</td>
  <td>{{ endPanel.extraRailRight }}</td>
  <td class="text-left" style="padding-left: 1rem; padding-right: 1rem;">
    {{
      endPanel.duraformWrappingOption
        ? endPanel.duraformWrappingOption.name
        : "SINGLE SIDED"
    }}
  </td>
  <td>{{ endPanel.top ? "Y" : "" }}</td>
  <td>{{ endPanel.bottom ? "Y" : "" }}</td>
  <td>{{ endPanel.left ? "Y" : "" }}</td>
  <td>{{ endPanel.right ? "Y" : "" }}</td>
  <td class="text-left" style="padding-left: 1rem; padding-right: 1rem;">
    {{ endPanel.note }}
  </td>
  <td style="width: 5rem;">
    <button
      type="button"
      class="btn btn--secondary"
      style="padding: 0.5rem 1rem;"
      (click)="onRemove()"
    >
      <i class="fa fa-trash"></i>
    </button>
  </td>
</tr>
