<div class="delivery-detail-form">
  <div class="form__group sm" style="margin-top: 0.5rem;">
    <label class="form__label">Name</label>
    <input type="text" class="form__control" />
  </div>
  <div class="form__group sm">
    <label class="form__label">Street Address</label>
    <input type="text" class="form__control" />
  </div>
  <div class="form__group sm">
    <label class="form__label">Suburb</label>
    <input type="text" class="form__control" />
  </div>
  <div class="row" style="margin-top: 1.5rem;">
    <div class="col-1-2">
      <div class="form__group sm">
        <label class="form__label">State</label>
        <input type="text" class="form__control" />
      </div>
    </div>
    <div class="col-1-2">
      <div class="form__group sm">
        <label class="form__label">Postcode</label>
        <input type="text" class="form__control" />
      </div>
    </div>
  </div>
</div>
