<div class="register-form">
  <div class="row">
    <div class="col-1-3">
      <form
        appFormInvalidFocus
        [formGroup]="registerFormGroup"
        (submit)="onSubmit()"
      >
        <div class="form__group">
          <label class="form__label">Email Address *</label>
          <input
            formControlName="email"
            type="email"
            class="form__control"
            autocomplete="new-password"
          />
          <ul
            class="form__error"
            *ngIf="hasSubmit && registerFormGroup.get('email').errors"
          >
            <li
              *ngIf="
                registerFormGroup.get('email').errors.required ||
                registerFormGroup.get('email').errors.pattern
              "
            >
              Please enter a valid email address
            </li>
          </ul>
        </div>
        <div class="form__group">
          <label class="form__label">Password *</label>
          <input
            formControlName="password"
            type="password"
            class="form__control"
            autocomplete="new-password"
          />
          <ul
            class="form__error"
            *ngIf="hasSubmit && registerFormGroup.get('password').errors"
          >
            <li *ngIf="registerFormGroup.get('password').errors.required">
              Password is required
            </li>
            <li *ngIf="registerFormGroup.get('password').errors.minlength">
              Password minimum length is 6 characters
            </li>
          </ul>
        </div>
        <div class="form__group">
          <label class="form__label">Confirm Password *</label>
          <input
            formControlName="confirmPassword"
            type="password"
            class="form__control"
            autocomplete="new-password"
          />
          <ul
            class="form__error"
            *ngIf="hasSubmit && registerFormGroup.get('confirmPassword').errors"
          >
            <li
              *ngIf="registerFormGroup.get('confirmPassword').errors.required"
            >
              Confirm password is required
            </li>
            <li
              *ngIf="registerFormGroup.get('confirmPassword').errors.mustMatch"
            >
              Confirm password not match
            </li>
          </ul>
        </div>
        <div class="form__group">
          <button type="submit" class="register-form__signup-btn">
            Sign Up
          </button>
        </div>
      </form>
    </div>
    <div class="col-2-3">
      <div class="register-form__container">
        <div class="register-form__heading">
          <div class="main">
            Welcome to Janper Cab.
          </div>
          <div class="sub">
            Sign up now to access to all its awesome features:
          </div>
        </div>
        <ul class="register-form__feature-list">
          <li>
            Quick and visual online Order Form to boost your productivity
          </li>
          <li>Track all your orders from start to finish</li>
          <li>Boost sale execution, and enchance customer experience</li>
          <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
