<div class="latest-items">
  <div class="tab scrollable" appTab style="height: 100%;">
    <ul class="tab__headers">
      <li class="header active">Duraform Drafts</li>
      <li class="header">Janper Edge Drafts</li>
      <li class="header">Flatpack Drafts</li>
    </ul>
    <ul class="tab__pages">
      <li class="page active">
        <app-duraform-draft-list></app-duraform-draft-list>
      </li>
      <li class="page">
        Janper Edge Drafts
      </li>
      <li class="page">
        Flatpack Drafts
      </li>
    </ul>
  </div>
</div>
