<div class="component-box">
  <div class="title">Doors</div>
  <table>
    <thead>
      <tr>
        <th style="width: 70px">qty</th>
        <th style="width: 110px">height</th>
        <th style="width: 110px">width</th>
        <th style="text-align: center; width: 35px">t</th>
        <th style="text-align: center; width: 35px">b</th>
        <th style="text-align: center; width: 35px">l</th>
        <th style="text-align: center; width: 35px">r</th>
        <th style="padding-left: 10px">option</th>
        <th style="padding-left: 10px; width: 295px">edge profile</th>
        <th style="padding-left: 10px; width: 190px">Hinge Hole</th>
        <th style="padding-left: 10px; width: 100px">routed</th>
        <th style="padding-left: 10px; width: 100px">cleaned</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let door of doors">
        <td>{{ door.quantity }}</td>
        <td>{{ door.height }}</td>
        <td>{{ door.width }}</td>
        <td style="text-align: center">
          {{ door.top ? "Y" : null }}
        </td>
        <td style="text-align: center">
          {{ door.bottom ? "Y" : null }}
        </td>
        <td style="text-align: center">
          {{ door.left ? "Y" : null }}
        </td>
        <td style="text-align: center">
          {{ door.right ? "Y" : null }}
        </td>
        <td style="padding-left: 10px">
          {{ door.duraformOption?.toString() }}
        </td>
        <td style="padding-left: 10px">
          {{ getEdgeProfile(door.duraformEdgeProfileId).name }}
        </td>
        <td style="padding-left: 10px">
          {{ door.hingeHoleOption?.toString() }}
        </td>
        <td style="padding-left: 10px">
          <div class="checkbox"></div>
        </td>
        <td style="padding-left: 10px">
          <div class="checkbox"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
