<div class="component-table">
  <div class="title">Doors</div>
  <table>
    <thead>
      <tr>
        <th class="qty">qty</th>
        <th class="height">height</th>
        <th class="width">width</th>
        <th class="side">t</th>
        <th class="side">b</th>
        <th class="side">l</th>
        <th class="side">r</th>
        <th class="option">option</th>
        <th class="edge">edge profile</th>
        <th class="hingeHole">Hinge Hole</th>
        <th class="checkbox">routed</th>
        <th class="checkbox">cleaned</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let door of doors">
        <td class="qty">{{ door.quantity }}</td>
        <td class="height">{{ door.height }}</td>
        <td class="width">{{ door.width }}</td>
        <td class="side">
          {{ door.top ? "Y" : null }}
        </td>
        <td class="side">
          {{ door.bottom ? "Y" : null }}
        </td>
        <td class="side">
          {{ door.left ? "Y" : null }}
        </td>
        <td class="side">
          {{ door.right ? "Y" : null }}
        </td>
        <td class="option">
          {{ door.duraformOption?.toString() }}
        </td>
        <td class="edge">
          {{ door.duraformEdgeProfile.name }}
        </td>
        <td class="hingeHole">
          {{ door.hingeHoleOption?.toString() }}
        </td>
        <td class="checkbox">
          <div class="checkbox"></div>
        </td>
        <td class="checkbox">
          <div class="checkbox"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
