.duraform-door {
  @include clear-both;

  background-color: white;
  border: solid 1px rgba($color: black, $alpha: 0.1);
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  float: left;
  margin-left: $duraform-door-gap;
  margin-right: $duraform-door-gap;
  margin-bottom: 1.5rem;
  padding: 1rem;
  position: relative;
  transition: all 0.4s ease;
  width: calc(
    (100% - 2 * #{$duraform-per-row} * #{$duraform-door-gap}) / #{$duraform-per-row}
  );

  &::before {
    box-shadow: 0 0 2rem rgba($red-primary, 0.5);
    border-radius: inherit;
    content: "";
    display: inline-block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 0.3s ease;
    width: 100%;
    z-index: 0;
  }

  &:hover {
    transform: translateY(-0.5rem);

    &::before {
      opacity: 1;
    }
  }

  &__img-box {
    height: 20rem;
    position: relative;
    width: 15rem;

    img {
      display: block;
      max-height: 100%;
      max-width: 100%;
    }
  }

  &__control-box {
    flex: 1;
    padding-left: 1rem;

    &__door-name {
      color: $red-primary;
      font-size: 2rem;
      font-weight: 500;
      padding-top: 1.5rem;
    }

    &__profile-name {
      font-size: 1.6rem;
      margin-top: 0.3rem;
      min-height: 1.9rem;
    }

    &__profile-img {
      display: block;
      margin-top: 0.8rem;
      width: 15rem;
    }
  }
}
