app-duraform-order-step-two {
  flex: 1;
  max-height: 100%;
  overflow-y: auto;
}

.duraform-order-step-two {
  display: flex;
  height: 100%;
  padding-top: 1rem;

  .col-left,
  .col-right {
    height: 100%;
    max-height: 100%;
  }

  .col-left {
    margin-right: 2rem;
    width: 40rem;

    .info-box {
      margin-bottom: 1rem;
    }
  }

  .col-right {
    flex: 1;
  }

  &__cart-list-item {
    cursor: pointer;

    &.animated {
      animation: moveInRight 0.5s ease-out;
    }

    & > td {
      border-bottom: none;
      border-top: none;
      font-weight: 700;
      padding: 0.5rem 0.3rem;
    }

    &:last-child {
      & > td {
        border-bottom: solid 1px rgba($color: black, $alpha: 0.3);
      }
    }

    &:hover {
      background-color: rgba($blue-primary, 0.1);
    }
  }
}
