.register-form {
  @include no-user-select;

  padding-top: 4rem;

  &__container {
    animation: moveInRight 0.8s ease;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
    padding-left: 2rem;
  }

  &__heading {
    margin-bottom: 5rem;

    .main {
      color: $red-primary;
      font-size: 5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .sub {
      font-size: 2.2rem;
      font-weight: 500;
    }
  }

  &__feature-list {
    display: block;
    list-style: none;

    & > li {
      font-size: 1.8rem;
      position: relative;
      padding-left: 0.5rem;

      &:not(:first-child) {
        margin-top: 1rem;
      }

      &::before {
        content: "\f0da";
        color: $red-primary;
        display: inline-block;
        font-family: "FontAwesome";
        left: -1rem;
        position: absolute;
        top: 40%;
        transform: translateY(-50%);
      }
    }
  }

  form {
    animation: zoomIn 0.8s ease;
    background-color: rgba(white, 0.7);
    box-shadow: 0 0 1rem rgba(black, 0.4);
    border-radius: 0.5rem;
    max-width: 40rem;
    margin: 0 auto;
    padding: 2rem;
  }

  &__signup-btn {
    border: none;
    background-color: $red-primary;
    border-radius: 0.3rem;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem 0;
    position: relative;
    margin-top: 3rem;
    transition: all 0.3s ease;
    width: 100%;

    &::before,
    &::after {
      content: "";
      background-color: $red-primary;
      display: block;
      height: 1px;
      position: absolute;
      transition: all 1s ease;
      transform: scaleX(0);
      width: 100%;
    }

    &::before {
      left: 0;
      top: 0;
      transform-origin: left;
    }

    &::after {
      right: 0;
      bottom: 0;
      transform-origin: right;
    }

    &:hover {
      color: $red-primary;
      background-color: white;

      &::before,
      &::after {
        transform: scaleX(1);
      }
    }
  }
}
