.select-menu {
  position: relative;

  & > input[type="text"] {
    text-align: left;
    width: 100%;
  }

  &__menu-box {
    left: 50%;
    position: absolute;
    top: calc(100% + 0.5rem);
    transform: translateX(-50%);
    width: calc(100% + 2rem);
    z-index: 99999;

    & > ul {
      animation: slideInTop 0.3s ease-out;
      background-color: white;
      border: solid 1px #8c8c8c;
      border-radius: 0.3rem;
      box-shadow: 0 0 1rem rgba(black, 0.3);
      cursor: pointer;
      list-style: none;
      padding: 0.7rem 0;
      text-align: left;
      transform-origin: top;

      & > li {
        font-weight: bold;
        padding: 0.5rem 0.7rem;

        &.selected {
          background-color: rgba($blue-primary, 0.1);
        }
      }
    }
  }
}
